.fsz0{
    font-size:0px;
}
.fsz1{
    font-size:1px;
}
.fsz2{
    font-size:2px;
}
.fsz3{
    font-size:3px;
}
.fsz4{
    font-size:4px;
}
.fsz5{
    font-size:5px;
}
.fsz6{
    font-size:6px;
}
.fsz7{
    font-size:7px;
}
.fsz8{
    font-size:8px;
}
.fsz9{
    font-size:9px;
}
.fsz10{
    font-size:10px;
}
.fsz11{
    font-size:11px;
}
.fsz12{
    font-size:12px;
}
.fsz13{
    font-size:13px;
}
.fsz14{
    font-size:14px;
}
.fsz15{
    font-size:15px;
}
.fsz16{
    font-size:16px;
}
.fsz17{
    font-size:17px;
}
.fsz18{
    font-size:18px;
}
.fsz19{
    font-size:19px;
}
.fsz20{
    font-size:20px;
}
.fsz21{
    font-size:21px;
}
.fsz22{
    font-size:22px;
}
.fsz23{
    font-size:23px;
}
.fsz24{
    font-size:24px;
}
.fsz25{
    font-size:25px;
}
.fsz26{
    font-size:26px;
}
.fsz27{
    font-size:27px;
}
.fsz28{
    font-size:28px;
}
.fsz29{
    font-size:29px;
}
.fsz30{
    font-size:30px;
}
.fsz31{
    font-size:31px;
}
.fsz32{
    font-size:32px;
}
.fsz33{
    font-size:33px;
}
.fsz34{
    font-size:34px;
}
.fsz35{
    font-size:35px;
}
.fsz36{
    font-size:36px;
}
.fsz37{
    font-size:37px;
}
.fsz38{
    font-size:38px;
}
.fsz39{
    font-size:39px;
}
.fsz40{
    font-size:40px;
}
.fsz41{
    font-size:41px;
}
.fsz42{
    font-size:42px;
}
.fsz43{
    font-size:43px;
}
.fsz44{
    font-size:44px;
}
.fsz45{
    font-size:45px;
}
.fsz46{
    font-size:46px;
}
.fsz47{
    font-size:47px;
}
.fsz48{
    font-size:48px;
}
.fsz49{
    font-size:49px;
}
.fsz50{
    font-size:50px;
}
.fsz51{
    font-size:51px;
}
.fsz52{
    font-size:52px;
}
.fsz53{
    font-size:53px;
}
.fsz54{
    font-size:54px;
}
.fsz55{
    font-size:55px;
}
.fsz56{
    font-size:56px;
}
.fsz57{
    font-size:57px;
}
.fsz58{
    font-size:58px;
}
.fsz59{
    font-size:59px;
}
.fsz60{
    font-size:60px;
}
.fsz61{
    font-size:61px;
}
.fsz62{
    font-size:62px;
}
.fsz63{
    font-size:63px;
}
.fsz64{
    font-size:64px;
}
.fsz65{
    font-size:65px;
}
.fsz66{
    font-size:66px;
}
.fsz67{
    font-size:67px;
}
.fsz68{
    font-size:68px;
}
.fsz69{
    font-size:69px;
}
.fsz70{
    font-size:70px;
}
.fsz71{
    font-size:71px;
}
.fsz72{
    font-size:72px;
}
.fsz73{
    font-size:73px;
}
.fsz74{
    font-size:74px;
}
.fsz75{
    font-size:75px;
}
.fsz76{
    font-size:76px;
}
.fsz77{
    font-size:77px;
}
.fsz78{
    font-size:78px;
}
.fsz79{
    font-size:79px;
}
.fsz80{
    font-size:80px;
}
.fsz81{
    font-size:81px;
}
.fsz82{
    font-size:82px;
}
.fsz83{
    font-size:83px;
}
.fsz84{
    font-size:84px;
}
.fsz85{
    font-size:85px;
}
.fsz86{
    font-size:86px;
}
.fsz87{
    font-size:87px;
}
.fsz88{
    font-size:88px;
}
.fsz89{
    font-size:89px;
}
.fsz90{
    font-size:90px;
}
.fsz91{
    font-size:91px;
}
.fsz92{
    font-size:92px;
}
.fsz93{
    font-size:93px;
}
.fsz94{
    font-size:94px;
}
.fsz95{
    font-size:95px;
}
.fsz96{
    font-size:96px;
}
.fsz97{
    font-size:97px;
}
.fsz98{
    font-size:98px;
}
.fsz99{
    font-size:99px;
}
.fsz100{
    font-size:100px;
}
.fsz101{
    font-size:101px;
}
.fsz102{
    font-size:102px;
}
.fsz103{
    font-size:103px;
}
.fsz104{
    font-size:104px;
}
.fsz105{
    font-size:105px;
}
.fsz106{
    font-size:106px;
}
.fsz107{
    font-size:107px;
}
.fsz108{
    font-size:108px;
}
.fsz109{
    font-size:109px;
}
.fsz110{
    font-size:110px;
}
.fsz111{
    font-size:111px;
}
.fsz112{
    font-size:112px;
}
.fsz113{
    font-size:113px;
}
.fsz114{
    font-size:114px;
}
.fsz115{
    font-size:115px;
}
.fsz116{
    font-size:116px;
}
.fsz117{
    font-size:117px;
}
.fsz118{
    font-size:118px;
}
.fsz119{
    font-size:119px;
}
.fsz120{
    font-size:120px;
}
.fsz121{
    font-size:121px;
}
.fsz122{
    font-size:122px;
}
.fsz123{
    font-size:123px;
}
.fsz124{
    font-size:124px;
}
.fsz125{
    font-size:125px;
}
.fsz126{
    font-size:126px;
}
.fsz127{
    font-size:127px;
}
.fsz128{
    font-size:128px;
}
.fsz129{
    font-size:129px;
}
.fsz130{
    font-size:130px;
}
.fsz131{
    font-size:131px;
}
.fsz132{
    font-size:132px;
}
.fsz133{
    font-size:133px;
}
.fsz134{
    font-size:134px;
}
.fsz135{
    font-size:135px;
}
.fsz136{
    font-size:136px;
}
.fsz137{
    font-size:137px;
}
.fsz138{
    font-size:138px;
}
.fsz139{
    font-size:139px;
}
.fsz140{
    font-size:140px;
}
.fsz141{
    font-size:141px;
}
.fsz142{
    font-size:142px;
}
.fsz143{
    font-size:143px;
}
.fsz144{
    font-size:144px;
}
.fsz145{
    font-size:145px;
}
.fsz146{
    font-size:146px;
}
.fsz147{
    font-size:147px;
}
.fsz148{
    font-size:148px;
}
.fsz149{
    font-size:149px;
}
.fsz150{
    font-size:150px;
}

