/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}




/* Caf Custom Settings */
.swiper-container {
    color: #fff;
    text-align: center;
    direction: ltr;
}
.swiper-container-fill {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    direction: ltr;
}
.swiper-slide {
    direction: ltr;
    position: relative;
    height: 100%;
}
.pagination {
    position: absolute;
    z-index: 20;
    left: 10px;
    bottom: 10px;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background: #222;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #fff;
}html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 266px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}
.pico-content{
    display: block !important;
    position: absolute !important;
    z-index: 10001 !important;
    left: 10% !important;
    right: 10% !important;
    top: 50px !important;
    max-height: 80%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px !important;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    background-color: white !important;
    border: 1px solid rgba(141, 141, 141, 0.78);
}

.dialogTitle{

}

.dialogContent{

}/* Fixes */
body{
    font-family: 'Alef','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}
div{

}
input {
    margin: 0;
    font: -webkit-small-control;
    color: #444444;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: start;
    border: 1px solid #999999;
    box-sizing: border-box;
    outline: 0 !important;
    padding: 0;
}
.app_container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
ul{
    margin:0;
    padding: 0;
    text-align: center;
}
li{
    margin:0;
    padding: 0;
    text-align: center;
}
/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* End Fixes */

/* Layout*/

.sideMenu{
    position: absolute;
    z-index: 1000000;
}
.appMainView{
    position: absolute;
    z-index: 10000000;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.headerItem{
    position: absolute;
}
.content {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.footer {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.yScrollable{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.dropMenuRight {
    position: absolute;
    z-index: 10000;
    right: 0;
    top: 0;
}
.dropMenuLeft {
    position: absolute;
    z-index: 10000;
    left: 0;
    top: 0;
}
.dropMenuOverlay{
    position: absolute;
    z-index: -1;
    right: 0;
    top: -1000px;
    width: 100000px;
    height: 100000px;
    opacity: 0;
}
/* End Layout*/

/* Page Manager */
.currentTab{
    z-index: 10;
}
.lastTab{
    z-index: 5;
}
.tabContainer{

}
.tab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tabsButtonsContainer{
    text-align: center;
    width: 100%;
}
/* End Page Manager */

/* Animations */
.fadein100{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 1;
}
.fadeout100{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity: 0;
}
.fadein200{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 1;
}
.fadeout200{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
}
.fadein300{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
}
.fadeout300{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
.fadein500{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}
.fadeout500{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}
.fadein700{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -ms-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    opacity: 1;
}
.fadeout700{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 0.7s ease-in-out;
    -moz-transition: opacity 0.7s ease-in-out;
    -ms-transition: opacity 0.7s ease-in-out;
    -o-transition: opacity 0.7s ease-in-out;
    transition: opacity 0.7s ease-in-out;
    opacity: 0;
}
.fadein1000{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 1;
}
.fadeout1000{
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

/* End Animations */
/* Utils */
.borderBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.pointer{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.inlineBlock{
    display: inline-block;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.noPadding{
    padding: 0;
}
.noMargin{
    margin: 0;
}
.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

/* End Utils */

/* Font */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.white{
    color: #ffffff;
}
.whiteSmoke{
    color: #DDDDDD
}
.black{
    color: #000000;
}
.xxsFontSize{
    font-size: 10px;
}
.xsFontSize{
    font-size: 12px;
}
.sFontSize{
    font-size: 14px;
}
.smFontSize{
    font-size: 16px;
}
.mFontSize{
    font-size: 18px;
}
.lFontSize{
    font-size: 20px;
}
.xlFontSize{
    font-size: 22px;
}
.xxlFontSize{
    font-size: 24px;
}

/* End Font */


/* Rounded */
.xsRounded{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.sRounded{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.mRounded{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.lRounded{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.xlRounded{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.xxlRounded{
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
.circle{
    -webkit-border-radius: 100000px;
    -moz-border-radius: 100000px;
    border-radius: 100000px;
}
/* End Rounded */
/* Border Size */
.noBorder{
    border: none;
}
.border1p{
    border-width: 1px;
    border-style: solid;
}
.border2p{
    border-width: 2px;
    border-style: solid;
}
.border3p{
    border-width: 3px;
    border-style: solid;
}
.border4p{
    border-width: 4px;
    border-style: solid;
}
.border5p{
    border-width: 5px;
    border-style: solid;
}

.borderBottom1p{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.borderBottom2p{
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.borderBottom3p{
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.borderBottom4p{
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
.borderBottom5p{
    border-bottom-width: 5px;
    border-bottom-style: solid;
}


.borderTop1p{
    border-top-width: 1px;
    border-top-style: solid;
}
.borderTop2p{
    border-top-width: 2px;
    border-top-style: solid;
}
.borderTop3p{
    border-top-width: 3px;
    border-top-style: solid;
}
.borderTop4p{
    border-top-width: 4px;
    border-top-style: solid;
}
.borderTop5p{
    border-top-width: 5px;
    border-top-style: solid;
}

.borderLeft1p{
    border-left-width: 1px;
    border-left-style: solid;
}
.borderLeft2p{
    border-left-width: 2px;
    border-left-style: solid;
}
.borderLeft3p{
    border-left-width: 3px;
    border-left-style: solid;
}
.borderLeft4p{
    border-left-width: 4px;
    border-left-style: solid;
}
.borderLeft5p{
    border-left-width: 5px;
    border-left-style: solid;
}

.borderRight1p{
    border-right-width: 1px;
    border-right-style: solid;
}
.borderRight2p{
    border-right-width: 2px;
    border-right-style: solid;
}
.borderRight3p{
    border-right-width: 3px;
    border-right-style: solid;
}
.borderRight4p{
    border-right-width: 4px;
    border-right-style: solid;
}
.borderRight5p{
    border-right-width: 5px;
    border-right-style: solid;
}
/* End Border Size */

/* Icons */
.iconOnly{
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 50%;
}
.sIconRight{
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 99% 50%;
    padding-right: 30px;
}
.mIconRight{
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 99% 50%;
    padding-right: 40px;
}
.lIconRight{
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 99% 50%;
    padding-right: 45px;
}
.xlIconRight{
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 99% 50%;
    padding-right: 55px;
}
.sIconLeft{
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 1% 50%;
    padding-left: 30px;
}
.mIconLeft{
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 1% 50%;
    padding-left: 40px;
}
.lIconLeft{
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 1% 50%;
    padding-left: 45px;
}
.xlIconLeft{
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 1% 50%;
    padding-left: 55px;
}
/* End Icons */


/* Backgrounds */
.bgGreen{
    background-color: #009b54;
}
.bgLightGreen{
    background-color: #00ab60;
}
.bgDarkGreen{
    background-color: #008845;
}
.bgXDarkGreen{
    background-color: #007339;
}
.bgXXDarkGreen{
    background-color: #005c2e;
}
.bgXXXDarkGreen{
    background-color: #004623;
}
.bgCyan{
    background-color: #0fb081;
}
.bgLightCyan{
    background-color: #0fce97;
}
.bgDarkCyan{
    background-color: #0f8967;
}
.bgXDarkCyan{
    background-color: #0d624a;
}
.bgXXDarkCyan{
    background-color: #0a4f3b;
}
.bgXXXDarkCyan{
    background-color: #073628;
}
.bgBlue{
    background-color: #2e54ae;
}
.bgLightBlue{
    background-color: #335bc9;
}
.bgDarkBlue{
    background-color: #224081;
}
.bgXDarkBlue{
    background-color: #172e5c;
}
.bgXXDarkBlue{
    background-color: #112142;
}
.bgXXXDarkBlue{
    background-color: #0d172e;
}
.bgBrown{
    background-color: #b05a2b;
}
.bgLightBrown{
    background-color: #cf6e2f;
}
.bgDarkBrown{
    background-color: #8f4b22;
}
.bgXDarkBrown{
    background-color: #613019;
}
.bgXXDarkBrown{
    background-color: #4a2514;
}
.bgXXXDarkBrown{
    background-color: #381c0f;
}
.bgRed{
    background-color: #ae0014;
}
.bgLightRed{
    background-color: #ca0014;
}
.bgDarkRed{
    background-color: #8e0011;
}
.bgXDarkRed{
    background-color: #68000f;
}
.bgXXDarkRed{
    background-color: #4f000c;
}
.bgXXXDarkRed{
    background-color: #38000a;
}
.bgPink{
    background-color: #b10059;
}
.bgLightPink{
    background-color: #d40070;
}
.bgDarkPink{
    background-color: #97004c;
}
.bgXDarkPink{
    background-color: #710038;
}
.bgXXDarkPink{
    background-color: #55002a;
}
.bgXXXDarkPink{
    background-color: #3f001f;
}
.bgPurple{
    background-color: #8400a2;
}
.bgLightPurple{
    background-color: #9c00bf;
}
.bgDarkPurple{
    background-color: #630079;
}
.bgXDarkPurple{
    background-color: #460058;
}
.bgXXDarkPurple{
    background-color: #320041;
}
.bgXXXDarkPurple{
    background-color: #24002f;
}
.bgBlack{
    background-color: #000000;
}
.bgXXXLightGray{
    background-color: #bababa;
}
.bgXXLightGray{
    background-color: #a2a2a2;
}
.bgXLightGray{
    background-color: #767676;
}
.bgLightGray{
    background-color: #636363;
}
.bgDarkGray{
    background-color: #505050;
}
.bgXDarkGray{
    background-color: #414141;
}
.bgXXDarkGray{
    background-color: #232323;
}
.bgWhite{
    background-color: #ffffff;
}
.bgSmokeWhite{
    background-color: #cdcdcd;
}
.bgLightSmokeWhite{
    background-color: #e2e2e2;
}
.bgDarkSmokeWhite{
    background-color: #c3c3c3;
}

/* End Backgrounds */

/* Border Colors */
.bcGreen{
    border-color: #009b54;
}
.bcLightGreen{
    border-color: #00ab60;
}
.bcDarkGreen{
    border-color: #008845;
}
.bcXDarkGreen{
    border-color: #007339;
}
.bcXXDarkGreen{
    border-color: #005c2e;
}
.bcXXXDarkGreen{
    border-color: #004623;
}
.bcCyan{
    border-color: #0fb081;
}
.bcLightCyan{
    border-color: #0fce97;
}
.bcDarkCyan{
    border-color: #0f8967;
}
.bcXDarkCyan{
    border-color: #0d624a;
}
.bcXXDarkCyan{
    border-color: #0a4f3b;
}
.bcXXXDarkCyan{
    border-color: #073628;
}
.bcBlue{
    border-color: #2e54ae;
}
.bcLightBlue{
    border-color: #335bc9;
}
.bcDarkBlue{
    border-color: #224081;
}
.bcXDarkBlue{
    border-color: #172e5c;
}
.bcXXDarkBlue{
    border-color: #112142;
}
.bcXXXDarkBlue{
    border-color: #0d172e;
}
.bcBrown{
    border-color: #b05a2b;
}
.bcLightBrown{
    border-color: #cf6e2f;
}
.bcDarkBrown{
    border-color: #8f4b22;
}
.bcXDarkBrown{
    border-color: #613019;
}
.bcXXDarkBrown{
    border-color: #4a2514;
}
.bcXXXDarkBrown{
    border-color: #381c0f;
}
.bcRed{
    border-color: #ae0014;
}
.bcLightRed{
    border-color: #ca0014;
}
.bcDarkRed{
    border-color: #8e0011;
}
.bcXDarkRed{
    border-color: #68000f;
}
.bcXXDarkRed{
    border-color: #4f000c;
}
.bcXXXDarkRed{
    border-color: #38000a;
}
.bcPink{
    border-color: #b10059;
}
.bcLightPink{
    border-color: #d40070;
}
.bcDarkPink{
    border-color: #97004c;
}
.bcXDarkPink{
    border-color: #710038;
}
.bcXXDarkPink{
    border-color: #55002a;
}
.bcXXXDarkPink{
    border-color: #3f001f;
}
.bcPurple{
    border-color: #8400a2;
}
.bcLightPurple{
    border-color: #9c00bf;
}
.bcDarkPurple{
    border-color: #630079;
}
.bcXDarkPurple{
    border-color: #460058;
}
.bcXXDarkPurple{
    border-color: #320041;
}
.bcXXXDarkPurple{
    border-color: #24002f;
}
.bcBlack{
    border-color: #000000;
}
.bcXXXLightGray{
    border-color: #bababa;
}
.bcXXLightGray{
    border-color: #a2a2a2;
}
.bcXLightGray{
    border-color: #767676;
}
.bcLightGray{
    border-color: #636363;
}
.bcDarkGray{
    border-color: #505050;
}
.bcXDarkGray{
    border-color: #414141;
}
.bcXXDarkGray{
    border-color: #232323;
}
.bcWhite{
    border-color: #ffffff;
}
.bcSmokeWhite{
    border-color: #cdcdcd;
}
.bcLightSmokeWhite{
    border-color: #e2e2e2;
}
.bcDarkSmokeWhite{
    border-color: #c3c3c3;
}

/* End Border Colors */

/* Text Colors */
.cGreen{
    color: #009b54;
}
.cLightGreen{
    color: #00ab60;
}
.cDarkGreen{
    color: #008845;
}
.cXDarkGreen{
    color: #007339;
}
.cXXDarkGreen{
    color: #005c2e;
}
.cXXXDarkGreen{
    color: #004623;
}
.cCyan{
    color: #0fb081;
}
.cLightCyan{
    color: #0fce97;
}
.cDarkCyan{
    color: #0f8967;
}
.cXDarkCyan{
    color: #0d624a;
}
.cXXDarkCyan{
    color: #0a4f3b;
}
.cXXXDarkCyan{
    color: #073628;
}
.cBlue{
    color: #2e54ae;
}
.cLightBlue{
    color: #335bc9;
}
.cDarkBlue{
    color: #224081;
}
.cXDarkBlue{
    color: #172e5c;
}
.cXXDarkBlue{
    color: #112142;
}
.cXXXDarkBlue{
    color: #0d172e;
}
.cBrown{
    color: #b05a2b;
}
.cLightBrown{
    color: #cf6e2f;
}
.cDarkBrown{
    color: #8f4b22;
}
.cXDarkBrown{
    color: #613019;
}
.cXXDarkBrown{
    color: #4a2514;
}
.cXXXDarkBrown{
    color: #381c0f;
}
.cRed{
    color: #ae0014;
}
.cLightRed{
    color: #ca0014;
}
.cDarkRed{
    color: #8e0011;
}
.cXDarkRed{
    color: #68000f;
}
.cXXDarkRed{
    color: #4f000c;
}
.cXXXDarkRed{
    color: #38000a;
}
.cPink{
    color: #b10059;
}
.cLightPink{
    color: #d40070;
}
.cDarkPink{
    color: #97004c;
}
.cXDarkPink{
    color: #710038;
}
.cXXDarkPink{
    color: #55002a;
}
.cXXXDarkPink{
    color: #3f001f;
}
.cPurple{
    color: #8400a2;
}
.cLightPurple{
    color: #9c00bf;
}
.cDarkPurple{
    color: #630079;
}
.cXDarkPurple{
    color: #460058;
}
.cXXDarkPurple{
    color: #320041;
}
.cXXXDarkPurple{
    color: #24002f;
}
.cBlack{
    color: #000000;
}
.cXXXLightGray{
    color: #bababa;
}
.cXXLightGray{
    color: #a2a2a2;
}
.cXLightGray{
    color: #767676;
}
.cLightGray{
    color: #636363;
}
.cGray{
    color: #5e5e5e;
}
.cDarkGray{
    color: #505050;
}
.cXDarkGray{
    color: #414141;
}
.cXXDarkGray{
    color: #232323;
}
.cWhite{
    color: #ffffff;
}
.cSmokeWhite{
    color: #cdcdcd;
}
.cLightSmokeWhite{
    color: #e2e2e2;
}
.cDarkSmokeWhite{
    color: #c3c3c3;
}

/* End Text Colors */

/* Heights */
.hp1{
    height: 1px;
    line-height: 1px;
}
.hp2{
    height: 2px;
    line-height: 2px;
}
.hp3{
    height: 3px;
    line-height: 3px;
}
.hp5{
    height: 5px;
    line-height: 5px;
}
.hp10{
    height: 10px;
    line-height: 10px;
}
.hp15{
    height: 15px;
    line-height: 15px;
}
.hp20{
     height: 20px;
    line-height: 20px;
}
.hp25{
    height: 25px;
    line-height: 25px;
}
.hp30{
    height: 30px;
    line-height: 30px;
}
.hp35{
    height: 35px;
    line-height: 35px;
}
.hp40{
    height: 40px;
    line-height: 40px;
}
.hp45{
    height: 45px;
    line-height: 45px;
}
.hp50{
    height: 50px;
    line-height: 50px;
}
.hp55{
    height: 55px;
    line-height: 55px;
}
.hp60{
    height: 60px;
    line-height: 60px;
}
.hp65{
    height: 65px;
    line-height: 65px;
}
.hp70{
    height: 70px;
    line-height: 70px;
}
.hp75{
    height: 75px;
    line-height: 75px;
}
.hp80{
    height: 80px;
    line-height: 80px;
}
.hp85{
    height: 85px;
    line-height: 85px;
}
.hp90{
    height: 90px;
    line-height: 90px;
}
.hp95{
    height: 95px;
    line-height: 95px;
}
.hp100{
    height: 100px;
    line-height: 100px;
}
.hp105{
    height: 105px;
    line-height: 105px;
}
.hp110{
    height: 110px;
    line-height: 110px;
}
.hp115{
    height: 115px;
    line-height: 115px;
}
.hp120{
    height: 120px;
    line-height: 120px;
}
.hp125{
    height: 125px;
    line-height: 125px;
}
.hp130{
    height: 130px;
    line-height: 130px;
}
.hp135{
    height: 135px;
    line-height: 135px;
}
.hp140{
    height: 140px;
    line-height: 140px;
}
.hp145{
    height: 145px;
    line-height: 145px;
}
.hp150{
    height: 150px;
    line-height: 150px;
}
.hp155{
    height: 155px;
    line-height: 155px;
}
.hp160{
    height: 160px;
    line-height: 160px;
}
.hp165{
    height: 165px;
    line-height: 165px;
}
.hp170{
    height: 170px;
    line-height: 170px;
}
.hp175{
    height: 175px;
    line-height: 175px;
}
.hp180{
    height: 180px;
    line-height: 180px;
}
.hp185{
    height: 185px;
    line-height: 185px;
}
.hp190{
    height: 190px;
    line-height: 190px;
}
.hp195{
    height: 195px;
    line-height: 195px;
}

/* End Heights*/

/* Widths */
.wp0{
    width: 0px;
}
.wp1{
    width: 1px;
}
.wp2{
    width: 2px;
}
.wp3{
    width: 3px;
}
.wp4{
    width: 4px;
}
.wp5{
    width: 5px;
}
.wp10{
    width: 10px;
}
.wp15{
    width: 15px;
}
.wp20{
    width: 20px;
}
.wp25{
    width: 25px;
}
.wp30{
    width: 30px;
}
.wp35{
    width: 35px;
}
.wp40{
    width: 40px;
}
.wp45{
    width: 45px;
}
.wp50{
    width: 50px;
}
.wp55{
    width: 55px;
}
.wp60{
    width: 60px;
}
.wp65{
    width: 65px;
}
.wp70{
    width: 70px;
}
.wp75{
    width: 75px;
}
.wp80{
    width: 80px;
}
.wp85{
    width: 85px;
}
.wp90{
    width: 90px;
}
.wp95{
    width: 95px;
}
.wp100{
    width: 100px;
}
.wp105{
    width: 105px;
}
.wp110{
    width: 110px;
}
.wp115{
    width: 115px;
}
.wp120{
    width: 120px;
}
.wp125{
    width: 125px;
}
.wp130{
    width: 130px;
}
.wp135{
    width: 135px;
}
.wp140{
    width: 140px;
}
.wp145{
    width: 145px;
}
.wp150{
    width: 150px;
}
.wp155{
    width: 155px;
}
.wp160{
    width: 160px;
}
.wp165{
    width: 165px;
}
.wp170{
    width: 170px;
}
.wp175{
    width: 175px;
}
.wp180{
    width: 180px;
}
.wp185{
    width: 185px;
}
.wp190{
    width: 190px;
}
.wp195{
    width: 195px;
}
.wp200{
    width: 200px;
}
.wp205{
    width: 205px;
}
.wp210{
    width: 210px;
}
.wp215{
    width: 215px;
}
.wp220{
    width: 220px;
}
.wp225{
    width: 225px;
}
.wp230{
    width: 230px;
}
.wp235{
    width: 235px;
}
.wp240{
    width: 240px;
}
.wp245{
    width: 245px;
}
.wp250{
    width: 250px;
}
.wp255{
    width: 255px;
}
.wp260{
    width: 260px;
}
.wp265{
    width: 265px;
}
.wp270{
    width: 270px;
}
.wp275{
    width: 275px;
}
.wp280{
    width: 280px;
}
.wp285{
    width: 285px;
}
.wp290{
    width: 290px;
}
.wp295{
    width: 295px;
}
.wp300{
    width: 300px;
}
.wp305{
    width: 305px;
}

.w5{
    width:5%;
}
.w10{
    width:10%;
}
.w15{
    width:15%;
}
.w20{
    width:20%;
}
.w25{
    width:25%;
}
.w30{
    width:30%;
}
.w35{
    width:35%;
}
.w40{
    width:40%;
}
.w45{
    width:45%;
}
.w50{
    width:50%;
}
.w55{
    width:55%;
}
.w60{
    width:60%;
}
.w65{
    width:65%;
}
.w70{
    width:70%;
}
.w75{
    width:75%;
}
.w80{
    width:80%;
}
.w85{
    width:85%;
}
.w90{
    width:90%;
}
.w95{
    width:95%;
}
.w100{
    width:100%;
}

/* End Widths */


/* Tops */
.top0{
    top: 0px;
}
.top1{
    top: 1px;
}
.top2{
    top: 2px;
}
.top3{
    top: 3px;
}
.top4{
    top: 4px;
}
.top5{
    top: 5px;
}
.top10{
    top: 10px;
}
.top15{
    top: 15px;
}
.top20{
    top: 20px;
}
.top25{
    top: 25px;
}
.top30{
    top: 30px;
}
.top35{
    top: 35px;
}
.top40{
    top: 40px;
}
.top45{
    top: 45px;
}
.top50{
    top: 50px;
}
.top55{
    top: 55px;
}
.top60{
    top: 60px;
}
.top65{
    top: 65px;
}
.top70{
    top: 70px;
}
.top75{
    top: 75px;
}
.top80{
    top: 80px;
}
.top85{
    top: 85px;
}
.top90{
    top: 90px;
}
.top95{
    top: 95px;
}
.top100{
    top: 100px;
}
.top105{
    top: 105px;
}
.top110{
    top: 110px;
}
.top115{
    top: 115px;
}
.top120{
    top: 120px;
}
.top125{
    top: 125px;
}
.top130{
    top: 130px;
}
.top135{
    top: 135px;
}
.top140{
    top: 140px;
}
.top145{
    top: 145px;
}
.top150{
    top: 150px;
}
.top155{
    top: 155px;
}
.top160{
    top: 160px;
}
.top165{
    top: 165px;
}
.top170{
    top: 170px;
}
.top175{
    top: 175px;
}
.top180{
    top: 180px;
}
.top185{
    top: 185px;
}
.top190{
    top: 190px;
}
.top195{
    top: 195px;
}
.top200{
    top: 200px;
}
.top205{
    top: 205px;
}
.top210{
    top: 210px;
}
.top215{
    top: 215px;
}
.top220{
    top: 220px;
}
.top225{
    top: 225px;
}
.top230{
    top: 230px;
}
.top235{
    top: 235px;
}
.top240{
    top: 240px;
}
.top245{
    top: 245px;
}
.top250{
    top: 250px;
}
.top255{
    top: 255px;
}
.top260{
    top: 260px;
}
.top265{
    top: 265px;
}
.top270{
    top: 270px;
}
.top275{
    top: 275px;
}
.top280{
    top: 280px;
}
.top285{
    top: 285px;
}
.top290{
    top: 290px;
}
.top295{
    top: 295px;
}
.top300{
    top: 300px;
}
.top305{
    top: 305px;
}

/* End Tops */

/* Bottoms */
.bottom0{
    bottom: 0px;
}
.bottom1{
    bottom: 1px;
}
.bottom2{
    bottom: 2px;
}
.bottom3{
    bottom: 3px;
}
.bottom4{
    bottom: 4px;
}
.bottom5{
    bottom: 5px;
}
.bottom10{
    bottom: 10px;
}
.bottom15{
    bottom: 15px;
}
.bottom20{
    bottom: 20px;
}
.bottom25{
    bottom: 25px;
}
.bottom30{
    bottom: 30px;
}
.bottom35{
    bottom: 35px;
}
.bottom40{
    bottom: 40px;
}
.bottom45{
    bottom: 45px;
}
.bottom50{
    bottom: 50px;
}
.bottom55{
    bottom: 55px;
}
.bottom60{
    bottom: 60px;
}
.bottom65{
    bottom: 65px;
}
.bottom70{
    bottom: 70px;
}
.bottom75{
    bottom: 75px;
}
.bottom80{
    bottom: 80px;
}
.bottom85{
    bottom: 85px;
}
.bottom90{
    bottom: 90px;
}
.bottom95{
    bottom: 95px;
}
.bottom100{
    bottom: 100px;
}
.bottom105{
    bottom: 105px;
}
.bottom110{
    bottom: 110px;
}
.bottom115{
    bottom: 115px;
}
.bottom120{
    bottom: 120px;
}
.bottom125{
    bottom: 125px;
}
.bottom130{
    bottom: 130px;
}
.bottom135{
    bottom: 135px;
}
.bottom140{
    bottom: 140px;
}
.bottom145{
    bottom: 145px;
}
.bottom150{
    bottom: 150px;
}
.bottom155{
    bottom: 155px;
}
.bottom160{
    bottom: 160px;
}
.bottom165{
    bottom: 165px;
}
.bottom170{
    bottom: 170px;
}
.bottom175{
    bottom: 175px;
}
.bottom180{
    bottom: 180px;
}
.bottom185{
    bottom: 185px;
}
.bottom190{
    bottom: 190px;
}
.bottom195{
    bottom: 195px;
}
.bottom200{
    bottom: 200px;
}
.bottom205{
    bottom: 205px;
}
.bottom210{
    bottom: 210px;
}
.bottom215{
    bottom: 215px;
}
.bottom220{
    bottom: 220px;
}
.bottom225{
    bottom: 225px;
}
.bottom230{
    bottom: 230px;
}
.bottom235{
    bottom: 235px;
}
.bottom240{
    bottom: 240px;
}
.bottom245{
    bottom: 245px;
}
.bottom250{
    bottom: 250px;
}
.bottom255{
    bottom: 255px;
}
.bottom260{
    bottom: 260px;
}
.bottom265{
    bottom: 265px;
}
.bottom270{
    bottom: 270px;
}
.bottom275{
    bottom: 275px;
}
.bottom280{
    bottom: 280px;
}
.bottom285{
    bottom: 285px;
}
.bottom290{
    bottom: 290px;
}
.bottom295{
    bottom: 295px;
}
.bottom300{
    bottom: 300px;
}
.bottom305{
    bottom: 305px;
}

/* End Bottoms */

/* Padding */
.pr0{
    padding-right: 0px;
}
.pr1{
    padding-right: 1px;
}
.pr2{
    padding-right: 2px;
}
.pr4{
    padding-right: 4px;
}
.pr6{
    padding-right: 6px;
}
.pr8{
    padding-right: 8px;
}
.pr10{
    padding-right: 10px;
}
.pr12{
    padding-right: 12px;
}
.pr14{
    padding-right: 14px;
}
.pr16{
    padding-right: 16px;
}
.pr18{
    padding-right: 18px;
}
.pr20{
    padding-right: 20px;
}
.pr22{
    padding-right: 22px;
}
.pr24{
    padding-right: 24px;
}
.pr26{
    padding-right: 26px;
}
.pr28{
    padding-right: 28px;
}
.pr30{
    padding-right: 30px;
}
.pr32{
    padding-right: 32px;
}
.pr34{
    padding-right: 34px;
}
.pr36{
    padding-right: 36px;
}
.pr38{
    padding-right: 38px;
}
.pr40{
    padding-right: 40px;
}

.pl0{
    padding-left: 0px;
}
.pl1{
    padding-left: 1px;
}
.pl2{
    padding-left: 2px;
}
.pl4{
    padding-left: 4px;
}
.pl6{
    padding-left: 6px;
}
.pl8{
    padding-left: 8px;
}
.pl10{
    padding-left: 10px;
}
.pl12{
    padding-left: 12px;
}
.pl14{
    padding-left: 14px;
}
.pl16{
    padding-left: 16px;
}
.pl18{
    padding-left: 18px;
}
.pl20{
    padding-left: 20px;
}
.pl22{
    padding-left: 22px;
}
.pl24{
    padding-left: 24px;
}
.pl26{
    padding-left: 26px;
}
.pl28{
    padding-left: 28px;
}
.pl30{
    padding-left: 30px;
}
.pl32{
    padding-left: 32px;
}
.pl34{
    padding-left: 34px;
}
.pl36{
    padding-left: 36px;
}
.pl38{
    padding-left: 38px;
}
.pl40{
    padding-left: 40px;
}

.pt0{
    padding-top: 0px;
}
.pt1{
    padding-top: 1px;
}
.pt2{
    padding-top: 2px;
}
.pt4{
    padding-top: 4px;
}
.pt6{
    padding-top: 6px;
}
.pt8{
    padding-top: 8px;
}
.pt10{
    padding-top: 10px;
}
.pt12{
    padding-top: 12px;
}
.pt14{
    padding-top: 14px;
}
.pt16{
    padding-top: 16px;
}
.pt18{
    padding-top: 18px;
}
.pt20{
    padding-top: 20px;
}
.pt22{
    padding-top: 22px;
}
.pt24{
    padding-top: 24px;
}
.pt26{
    padding-top: 26px;
}
.pt28{
    padding-top: 28px;
}
.pt30{
    padding-top: 30px;
}
.pt32{
    padding-top: 32px;
}
.pt34{
    padding-top: 34px;
}
.pt36{
    padding-top: 36px;
}
.pt38{
    padding-top: 38px;
}
.pt40{
    padding-top: 40px;
}

.pb0{
    padding-bottom: 0px;
}
.pb1{
    padding-bottom: 1px;
}
.pb2{
    padding-bottom: 2px;
}
.pb4{
    padding-bottom: 4px;
}
.pb6{
    padding-bottom: 6px;
}
.pb8{
    padding-bottom: 8px;
}
.pb10{
    padding-bottom: 10px;
}
.pb12{
    padding-bottom: 12px;
}
.pb14{
    padding-bottom: 14px;
}
.pb16{
    padding-bottom: 16px;
}
.pb18{
    padding-bottom: 18px;
}
.pb20{
    padding-bottom: 20px;
}
.pb22{
    padding-bottom: 22px;
}
.pb24{
    padding-bottom: 24px;
}
.pb26{
    padding-bottom: 26px;
}
.pb28{
    padding-bottom: 28px;
}
.pb30{
    padding-bottom: 30px;
}
.pb32{
    padding-bottom: 32px;
}
.pb34{
    padding-bottom: 34px;
}
.pb36{
    padding-bottom: 36px;
}
.pb38{
    padding-bottom: 38px;
}
.pb40{
    padding-bottom: 40px;
}

/* End Padding */

/* Margins */

.marginCentered{
    margin-left: auto;
    margin-right: auto;
}
.marginRighted {
    margin-left: auto;
}
.marginLefted {
    margin-right: auto;
}

.mt0{
    margin-top: 0px;
}
.mt1{
    margin-top: 1px;
}
.mt2{
    margin-top: 2px;
}
.mt4{
    margin-top: 4px;
}
.mt6{
    margin-top: 6px;
}
.mt8{
    margin-top: 8px;
}
.mt10{
    margin-top: 10px;
}
.mt12{
    margin-top: 12px;
}
.mt14{
    margin-top: 14px;
}
.mt16{
    margin-top: 16px;
}
.mt18{
    margin-top: 18px;
}
.mt20{
    margin-top: 20px;
}
.mt22{
    margin-top: 22px;
}
.mt24{
    margin-top: 24px;
}
.mt26{
    margin-top: 26px;
}
.mt28{
    margin-top: 28px;
}
.mt30{
    margin-top: 30px;
}
.mt32{
    margin-top: 32px;
}
.mt34{
    margin-top: 34px;
}
.mt36{
    margin-top: 36px;
}
.mt38{
    margin-top: 38px;
}
.mt40{
    margin-top: 40px;
}


.mb0{
    margin-bottom: 0px;
}
.mb1{
    margin-bottom: 1px;
}
.mb2{
    margin-bottom: 2px;
}
.mb4{
    margin-bottom: 4px;
}
.mb6{
    margin-bottom: 6px;
}
.mb8{
    margin-bottom: 8px;
}
.mb10{
    margin-bottom: 10px;
}
.mb12{
    margin-bottom: 12px;
}
.mb14{
    margin-bottom: 14px;
}
.mb16{
    margin-bottom: 16px;
}
.mb18{
    margin-bottom: 18px;
}
.mb20{
    margin-bottom: 20px;
}
.mb22{
    margin-bottom: 22px;
}
.mb24{
    margin-bottom: 24px;
}
.mb26{
    margin-bottom: 26px;
}
.mb28{
    margin-bottom: 28px;
}
.mb30{
    margin-bottom: 30px;
}
.mb32{
    margin-bottom: 32px;
}
.mb34{
    margin-bottom: 34px;
}
.mb36{
    margin-bottom: 36px;
}
.mb38{
    margin-bottom: 38px;
}
.mb40{
    margin-bottom: 40px;
}

.mr0{
    margin-right: 0px;
}
.mr1{
    margin-right: 1px;
}
.mr2{
    margin-right: 2px;
}
.mr4{
    margin-right: 4px;
}
.mr6{
    margin-right: 6px;
}
.mr8{
    margin-right: 8px;
}
.mr10{
    margin-right: 10px;
}
.mr12{
    margin-right: 12px;
}
.mr14{
    margin-right: 14px;
}
.mr16{
    margin-right: 16px;
}
.mr18{
    margin-right: 18px;
}
.mr20{
    margin-right: 20px;
}
.mr22{
    margin-right: 22px;
}
.mr24{
    margin-right: 24px;
}
.mr26{
    margin-right: 26px;
}
.mr28{
    margin-right: 28px;
}
.mr30{
    margin-right: 30px;
}
.mr32{
    margin-right: 32px;
}
.mr34{
    margin-right: 34px;
}
.mr36{
    margin-right: 36px;
}
.mr38{
    margin-right: 38px;
}
.mr40{
    margin-right: 40px;
}

.ml0{
    margin-left: 0px;
}
.ml1{
    margin-left: 1px;
}
.ml2{
    margin-left: 2px;
}
.ml4{
    margin-left: 4px;
}
.ml6{
    margin-left: 6px;
}
.ml8{
    margin-left: 8px;
}
.ml10{
    margin-left: 10px;
}
.ml12{
    margin-left: 12px;
}
.ml14{
    margin-left: 14px;
}
.ml16{
    margin-left: 16px;
}
.ml18{
    margin-left: 18px;
}
.ml20{
    margin-left: 20px;
}
.ml22{
    margin-left: 22px;
}
.ml24{
    margin-left: 24px;
}
.ml26{
    margin-left: 26px;
}
.ml28{
    margin-left: 28px;
}
.ml30{
    margin-left: 30px;
}
.ml32{
    margin-left: 32px;
}
.ml34{
    margin-left: 34px;
}
.ml36{
    margin-left: 36px;
}
.ml38{
    margin-left: 38px;
}
.ml40{
    margin-left: 40px;
}

/* End Margins  */

/* Absolute Row Blocks */

/* Size 50 */
.absBlock50-0-0{
    right: 0px;
    left: 0px;
}
.absBlock50-0-1{
    right: 50px;
    left: 0px;
}
.absBlock50-0-2{
    right: 100px;
    left: 0px;
}
.absBlock50-1-0{
    right: 0px;
    left: 50px;
}
.absBlock50-2-0{
    right: 0px;
    left: 100px;
}
.absBlock50-1-1{
    right: 50px;
    left: 50px;
}
.absBlock50-1-2{
    right: 100px;
    left: 50px;
}
.absBlock50-2-1{
    right: 50px;
    left: 100px;
}
.absBlock50-2-2{
    right: 100px;
    left: 100px;
}
.absBlock50-n-0{
    right: 0px;
}
.absBlock50-n-1{
    right: 50px;
}
.absBlock50-n-2{
    right: 100px;
}
.absBlock50-0-n{
    left: 0px;
}
.absBlock50-1-n{
    left: 50px;
}
.absBlock50-2-n{
    left: 100px;
}

/* Size 60 */
.absBlock60-0-0{
    right: 0px;
    left: 0px;
}
.absBlock60-0-1{
    right: 60px;
    left: 0px;
}
.absBlock60-0-2{
    right: 120px;
    left: 0px;
}
.absBlock60-1-0{
    right: 0px;
    left: 60px;
}
.absBlock60-2-0{
    right: 0px;
    left: 120px;
}
.absBlock60-1-1{
    right: 60px;
    left: 60px;
}
.absBlock60-1-2{
    right: 120px;
    left: 60px;
}
.absBlock60-2-1{
    right: 60px;
    left: 120px;
}
.absBlock60-2-2{
    right: 120px;
    left: 120px;
}
.absBlock60-n-0{
    right: 0px;
}
.absBlock60-n-1{
    right: 60px;
}
.absBlock60-n-2{
    right: 120px;
}
.absBlock60-0-n{
    left: 0px;
}
.absBlock60-1-n{
    left: 60px;
}
.absBlock60-2-n{
    left: 120px;
}

/* Size 70 */
.absBlock70-0-0{
    right: 0px;
    left: 0px;
}
.absBlock70-0-1{
    right: 70px;
    left: 0px;
}
.absBlock70-0-2{
    right: 140px;
    left: 0px;
}
.absBlock70-1-0{
    right: 0px;
    left: 70px;
}
.absBlock70-2-0{
    right: 0px;
    left: 140px;
}
.absBlock70-1-1{
    right: 70px;
    left: 70px;
}
.absBlock70-1-2{
    right: 140px;
    left: 70px;
}
.absBlock70-2-1{
    right: 70px;
    left: 140px;
}
.absBlock70-2-2{
    right: 140px;
    left: 140px;
}
.absBlock70-n-0{
    right: 0px;
}
.absBlock70-n-1{
    right: 70px;
}
.absBlock70-n-2{
    right: 140px;
}
.absBlock70-0-n{
    left: 0px;
}
.absBlock70-1-n{
    left: 70px;
}
.absBlock70-2-n{
    left: 140px;
}

/* Size 80 */
.absBlock80-0-0{
    right: 0px;
    left: 0px;
}
.absBlock80-0-1{
    right: 80px;
    left: 0px;
}
.absBlock80-0-2{
    right: 160px;
    left: 0px;
}
.absBlock80-1-0{
    right: 0px;
    left: 80px;
}
.absBlock80-2-0{
    right: 0px;
    left: 160px;
}
.absBlock80-1-1{
    right: 80px;
    left: 80px;
}
.absBlock80-1-2{
    right: 160px;
    left: 80px;
}
.absBlock80-2-1{
    right: 80px;
    left: 160px;
}
.absBlock80-2-2{
    right: 160px;
    left: 160px;
}
.absBlock80-n-0{
    right: 0px;
}
.absBlock80-n-1{
    right: 80px;
}
.absBlock80-n-2{
    right: 160px;
}
.absBlock80-0-n{
    left: 0px;
}
.absBlock80-1-n{
    left: 80px;
}
.absBlock80-2-n{
    left: 160px;
}

/* Size 90 */
.absBlock90-0-0{
    right: 0px;
    left: 0px;
}
.absBlock90-0-1{
    right: 90px;
    left: 0px;
}
.absBlock90-0-2{
    right: 270px;
    left: 0px;
}
.absBlock90-1-0{
    right: 0px;
    left: 90px;
}
.absBlock90-2-0{
    right: 0px;
    left: 270px;
}
.absBlock90-1-1{
    right: 90px;
    left: 90px;
}
.absBlock90-1-2{
    right: 270px;
    left: 90px;
}
.absBlock90-2-1{
    right: 90px;
    left: 270px;
}
.absBlock90-2-2{
    right: 270px;
    left: 270px;
}
.absBlock90-n-0{
    right: 0px;
}
.absBlock90-n-1{
    right: 90px;
}
.absBlock90-n-2{
    right: 270px;
}
.absBlock90-0-n{
    left: 0px;
}
.absBlock90-1-n{
    left: 90px;
}
.absBlock90-2-n{
    left: 270px;
}

/* Size 100 */
.absBlock100-0-0{
    right: 0px;
    left: 0px;
}
.absBlock100-0-1{
    right: 100px;
    left: 0px;
}
.absBlock100-0-2{
    right: 200px;
    left: 0px;
}
.absBlock100-1-0{
    right: 0px;
    left: 100px;
}
.absBlock100-2-0{
    right: 0px;
    left: 200px;
}
.absBlock100-1-1{
    right: 100px;
    left: 100px;
}
.absBlock100-1-2{
    right: 200px;
    left: 100px;
}
.absBlock100-2-1{
    right: 100px;
    left: 200px;
}
.absBlock100-2-2{
    right: 200px;
    left: 200px;
}
.absBlock100-n-0{
    right: 0px;
}
.absBlock100-n-1{
    right: 100px;
}
.absBlock100-n-2{
    right: 200px;
}
.absBlock100-0-n{
    left: 0px;
}
.absBlock100-1-n{
    left: 100px;
}
.absBlock100-2-n{
    left: 200px;
}

/* End Absolute Row Blocks */





























