/* Fixes */
body{
    font-family: 'Alef','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
div,ul,a,body,li,h1,h2,h3,h4,h5,h6,input,textarea{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input {
    margin: 0;
    font: -webkit-small-control;
    color: #444444;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: start;
    border: 1px solid #999999;
    box-sizing: border-box;
    outline: 0 !important;
    padding: 0;
}
.app_container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
ul{
    margin:0;
    padding: 0;
    text-align: center;
}
li{
    margin:0;
    padding: 0;
    text-align: center;
}
/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* End Fixes */

/* Layout*/

.sideMenu{
    position: absolute;
    z-index: 1000000;
}
.appMainView{
    position: absolute;
    z-index: 10000000;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.headerItem{
    position: absolute;
}
.content {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.footer {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.yScrollable{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.cDialog {
    position: absolute;
    z-index: 10000;
}
.cDialogContainer {
    position: absolute;
    z-index: 10000;
    /*box-shadow: rgba(0,0,0,0.4) 0 5px 20px;*/
}
.cDialogOverlay{
    position: absolute;
    z-index: -1;
    right: -100000px;
    top: -1000px;
    width: 1000000px;
    height: 100000px;
    opacity: 0.3;
    background-color: #000000;
}

.dropMenuRight {
    position: absolute;
    z-index: 10000;
    right: 0;
}
.dropMenuLeft {
    position: absolute;
    z-index: 10000;
    left: 0;
}
.dropMenuOverlay{
    position: absolute;
    z-index: -1;
    right: 0;
    top: -1000px;
    width: 100000px;
    height: 100000px;
    opacity: 0;
}
/* End Layout*/

/* Page Manager */
.currentTab{
    z-index: 10;
}
.lastTab{
    z-index: 5;
}
.tabContainer{

}
.tab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tabsButtonsContainer{
    text-align: center;
    width: 100%;
}
/* End Page Manager */


/* End Animations */
/* Utils */
.borderBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overflowHidden{
    overflow: hidden;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.displayNone {
    display: none;
}
.pointer{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.inlineBlock{
    display: inline-block;
}
.block{
    display: block;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.noPadding{
    padding: 0;
}
.noMargin{
    margin: 0;
}
.autoMargin{
    margin: auto;
}

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

/* End Utils */

/* Font */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.white{
    color: #ffffff;
}
.whiteSmoke{
    color: #DDDDDD
}
.black{
    color: #000000;
}

/* End Font */


/* Rounded */
.Rounded0{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.Rounded1{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.Rounded2{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.Rounded3{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.Rounded4{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.Rounded5{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.Rounded6{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.Rounded7{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.Rounded8{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.Rounded9{
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.Rounded10{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Rounded11{
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
.Rounded12{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.Rounded13{
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.Rounded14{
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
.Rounded15{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.Rounded16{
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.Rounded17{
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}
.Rounded18{
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.Rounded19{
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}
.Rounded20{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.circle{
    -webkit-border-radius: 100000px;
    -moz-border-radius: 100000px;
    border-radius: 100000px;
}
/* End Rounded */
/* Border Size */
.noBorder{
    border: none;
}
.border1p{
    border-width: 1px;
    border-style: solid;
}
.border2p{
    border-width: 2px;
    border-style: solid;
}
.border3p{
    border-width: 3px;
    border-style: solid;
}
.border4p{
    border-width: 4px;
    border-style: solid;
}
.border5p{
    border-width: 5px;
    border-style: solid;
}

.borderBottom1p{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.borderBottom2p{
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.borderBottom3p{
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.borderBottom4p{
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
.borderBottom5p{
    border-bottom-width: 5px;
    border-bottom-style: solid;
}


.borderTop1p{
    border-top-width: 1px;
    border-top-style: solid;
}
.borderTop2p{
    border-top-width: 2px;
    border-top-style: solid;
}
.borderTop3p{
    border-top-width: 3px;
    border-top-style: solid;
}
.borderTop4p{
    border-top-width: 4px;
    border-top-style: solid;
}
.borderTop5p{
    border-top-width: 5px;
    border-top-style: solid;
}

.borderLeft1p{
    border-left-width: 1px;
    border-left-style: solid;
}
.borderLeft2p{
    border-left-width: 2px;
    border-left-style: solid;
}
.borderLeft3p{
    border-left-width: 3px;
    border-left-style: solid;
}
.borderLeft4p{
    border-left-width: 4px;
    border-left-style: solid;
}
.borderLeft5p{
    border-left-width: 5px;
    border-left-style: solid;
}

.borderRight1p{
    border-right-width: 1px;
    border-right-style: solid;
}
.borderRight2p{
    border-right-width: 2px;
    border-right-style: solid;
}
.borderRight3p{
    border-right-width: 3px;
    border-right-style: solid;
}
.borderRight4p{
    border-right-width: 4px;
    border-right-style: solid;
}
.borderRight5p{
    border-right-width: 5px;
    border-right-style: solid;
}
/* End Border Size */

/* Icons */
.iconOnly{
    background-repeat: no-repeat !important;
    background-size: 75% !important;
    background-position: 50% 50% !important;
}
.sIconRight{
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 99% 50%;
    padding-right: 30px;
}
.mIconRight{
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 99% 50%;
    padding-right: 40px;
}
.lIconRight{
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 99% 50%;
    padding-right: 45px;
}
.xlIconRight{
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 99% 50%;
    padding-right: 55px;
}
.sIconLeft{
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 1% 50%;
    padding-left: 30px;
}
.mIconLeft{
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 1% 50%;
    padding-left: 40px;
}
.lIconLeft{
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 1% 50%;
    padding-left: 45px;
}
.xlIconLeft{
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 1% 50%;
    padding-left: 55px;
}
/* End Icons */


/* Backgrounds */
.bgNavy0	{ background-color: #0080ff; 	}
.bcNavy0	{ border-color: #0080ff; 		}
.cNavy0 	{ color: #0080ff; 				}
.bgNavy1	{ background-color: #0073e6; 	}
.bcNavy1	{ border-color: #0073e6; 		}
.cNavy1 	{ color: #0073e6; 				}
.bgNavy2	{ background-color: #0066cc; 	}
.bcNavy2	{ border-color: #0066cc; 		}
.cNavy2 	{ color: #0066cc; 				}
.bgNavy3	{ background-color: #0059b3; 	}
.bcNavy3	{ border-color: #0059b3; 		}
.cNavy3 	{ color: #0059b3; 				}
.bgNavy4	{ background-color: #004d99; 	}
.bcNavy4	{ border-color: #004d99; 		}
.cNavy4 	{ color: #004d99; 				}
.bgNavy5	{ background-color: #004080; 	}
.bcNavy5	{ border-color: #004080; 		}
.cNavy5 	{ color: #004080; 				}
.bgNavy6	{ background-color: #003366; 	}
.bcNavy6	{ border-color: #003366; 		}
.cNavy6 	{ color: #003366; 				}
.bgNavy7	{ background-color: #00264d; 	}
.bcNavy7	{ border-color: #00264d; 		}
.cNavy7 	{ color: #00264d; 				}
.bgNavy8	{ background-color: #001a33; 	}
.bcNavy8	{ border-color: #001a33; 		}
.cNavy8 	{ color: #001a33; 				}
.bgNavy9	{ background-color: #001326; 	}
.bcNavy9	{ border-color: #001326; 		}
.cNavy9 	{ color: #001326; 				}
.bgNavy10	{ background-color: #000d1a; 	}
.bcNavy10	{ border-color: #000d1a; 		}
.cNavy10 	{ color: #000d1a; 				}
.bgBlue0	{ background-color: #008cff; 	}
.bcBlue0	{ border-color: #008cff; 		}
.cBlue0 	{ color: #008cff; 				}
.bgBlue1	{ background-color: #007ee6; 	}
.bcBlue1	{ border-color: #007ee6; 		}
.cBlue1 	{ color: #007ee6; 				}
.bgBlue2	{ background-color: #0070cc; 	}
.bcBlue2	{ border-color: #0070cc; 		}
.cBlue2 	{ color: #0070cc; 				}
.bgBlue3	{ background-color: #0062b3; 	}
.bcBlue3	{ border-color: #0062b3; 		}
.cBlue3 	{ color: #0062b3; 				}
.bgBlue4	{ background-color: #005499; 	}
.bcBlue4	{ border-color: #005499; 		}
.cBlue4 	{ color: #005499; 				}
.bgBlue5	{ background-color: #004680; 	}
.bcBlue5	{ border-color: #004680; 		}
.cBlue5 	{ color: #004680; 				}
.bgBlue6	{ background-color: #003866; 	}
.bcBlue6	{ border-color: #003866; 		}
.cBlue6 	{ color: #003866; 				}
.bgBlue7	{ background-color: #002a4d; 	}
.bcBlue7	{ border-color: #002a4d; 		}
.cBlue7 	{ color: #002a4d; 				}
.bgBlue8	{ background-color: #001c33; 	}
.bcBlue8	{ border-color: #001c33; 		}
.cBlue8 	{ color: #001c33; 				}
.bgBlue9	{ background-color: #001526; 	}
.bcBlue9	{ border-color: #001526; 		}
.cBlue9 	{ color: #001526; 				}
.bgBlue10	{ background-color: #000e1a; 	}
.bcBlue10	{ border-color: #000e1a; 		}
.cBlue10 	{ color: #000e1a; 				}
.bgAqua0	{ background-color: #80ddff; 	}
.bcAqua0	{ border-color: #80ddff; 		}
.cAqua0 	{ color: #80ddff; 				}
.bgAqua1	{ background-color: #73c7e6; 	}
.bcAqua1	{ border-color: #73c7e6; 		}
.cAqua1 	{ color: #73c7e6; 				}
.bgAqua2	{ background-color: #66b1cc; 	}
.bcAqua2	{ border-color: #66b1cc; 		}
.cAqua2 	{ color: #66b1cc; 				}
.bgAqua3	{ background-color: #599bb3; 	}
.bcAqua3	{ border-color: #599bb3; 		}
.cAqua3 	{ color: #599bb3; 				}
.bgAqua4	{ background-color: #4d8599; 	}
.bcAqua4	{ border-color: #4d8599; 		}
.cAqua4 	{ color: #4d8599; 				}
.bgAqua5	{ background-color: #406f80; 	}
.bcAqua5	{ border-color: #406f80; 		}
.cAqua5 	{ color: #406f80; 				}
.bgAqua6	{ background-color: #335866; 	}
.bcAqua6	{ border-color: #335866; 		}
.cAqua6 	{ color: #335866; 				}
.bgAqua7	{ background-color: #26424d; 	}
.bcAqua7	{ border-color: #26424d; 		}
.cAqua7 	{ color: #26424d; 				}
.bgAqua8	{ background-color: #1a2c33; 	}
.bcAqua8	{ border-color: #1a2c33; 		}
.cAqua8 	{ color: #1a2c33; 				}
.bgAqua9	{ background-color: #132126; 	}
.bcAqua9	{ border-color: #132126; 		}
.cAqua9 	{ color: #132126; 				}
.bgAqua10	{ background-color: #0d161a; 	}
.bcAqua10	{ border-color: #0d161a; 		}
.cAqua10 	{ color: #0d161a; 				}
.bgTeal0	{ background-color: #47ffff; 	}
.bcTeal0	{ border-color: #47ffff; 		}
.cTeal0 	{ color: #47ffff; 				}
.bgTeal1	{ background-color: #40e6e6; 	}
.bcTeal1	{ border-color: #40e6e6; 		}
.cTeal1 	{ color: #40e6e6; 				}
.bgTeal2	{ background-color: #39cccc; 	}
.bcTeal2	{ border-color: #39cccc; 		}
.cTeal2 	{ color: #39cccc; 				}
.bgTeal3	{ background-color: #32b3b3; 	}
.bcTeal3	{ border-color: #32b3b3; 		}
.cTeal3 	{ color: #32b3b3; 				}
.bgTeal4	{ background-color: #2b9999; 	}
.bcTeal4	{ border-color: #2b9999; 		}
.cTeal4 	{ color: #2b9999; 				}
.bgTeal5	{ background-color: #248080; 	}
.bcTeal5	{ border-color: #248080; 		}
.cTeal5 	{ color: #248080; 				}
.bgTeal6	{ background-color: #1d6666; 	}
.bcTeal6	{ border-color: #1d6666; 		}
.cTeal6 	{ color: #1d6666; 				}
.bgTeal7	{ background-color: #154d4d; 	}
.bcTeal7	{ border-color: #154d4d; 		}
.cTeal7 	{ color: #154d4d; 				}
.bgTeal8	{ background-color: #0e3333; 	}
.bcTeal8	{ border-color: #0e3333; 		}
.cTeal8 	{ color: #0e3333; 				}
.bgTeal9	{ background-color: #0b2626; 	}
.bcTeal9	{ border-color: #0b2626; 		}
.cTeal9 	{ color: #0b2626; 				}
.bgTeal10	{ background-color: #071a1a; 	}
.bcTeal10	{ border-color: #071a1a; 		}
.cTeal10 	{ color: #071a1a; 				}
.bgOlive0	{ background-color: #66ffba; 	}
.bcOlive0	{ border-color: #66ffba; 		}
.cOlive0 	{ color: #66ffba; 				}
.bgOlive1	{ background-color: #5ce6a8; 	}
.bcOlive1	{ border-color: #5ce6a8; 		}
.cOlive1 	{ color: #5ce6a8; 				}
.bgOlive2	{ background-color: #52cc95; 	}
.bcOlive2	{ border-color: #52cc95; 		}
.cOlive2 	{ color: #52cc95; 				}
.bgOlive3	{ background-color: #47b382; 	}
.bcOlive3	{ border-color: #47b382; 		}
.cOlive3 	{ color: #47b382; 				}
.bgOlive4	{ background-color: #3d9970; 	}
.bcOlive4	{ border-color: #3d9970; 		}
.cOlive4 	{ color: #3d9970; 				}
.bgOlive5	{ background-color: #33805d; 	}
.bcOlive5	{ border-color: #33805d; 		}
.cOlive5 	{ color: #33805d; 				}
.bgOlive6	{ background-color: #29664a; 	}
.bcOlive6	{ border-color: #29664a; 		}
.cOlive6 	{ color: #29664a; 				}
.bgOlive7	{ background-color: #1f4d38; 	}
.bcOlive7	{ border-color: #1f4d38; 		}
.cOlive7 	{ color: #1f4d38; 				}
.bgOlive8	{ background-color: #143325; 	}
.bcOlive8	{ border-color: #143325; 		}
.cOlive8 	{ color: #143325; 				}
.bgOlive9	{ background-color: #0f261c; 	}
.bcOlive9	{ border-color: #0f261c; 		}
.cOlive9 	{ color: #0f261c; 				}
.bgOlive10	{ background-color: #0a1a13; 	}
.bcOlive10	{ border-color: #0a1a13; 		}
.cOlive10 	{ color: #0a1a13; 				}
.bgGreen0	{ background-color: #3bff4e; 	}
.bcGreen0	{ border-color: #3bff4e; 		}
.cGreen0 	{ color: #3bff4e; 				}
.bgGreen1	{ background-color: #35e646; 	}
.bcGreen1	{ border-color: #35e646; 		}
.cGreen1 	{ color: #35e646; 				}
.bgGreen2	{ background-color: #2fcc3f; 	}
.bcGreen2	{ border-color: #2fcc3f; 		}
.cGreen2 	{ color: #2fcc3f; 				}
.bgGreen3	{ background-color: #29b337; 	}
.bcGreen3	{ border-color: #29b337; 		}
.cGreen3 	{ color: #29b337; 				}
.bgGreen4	{ background-color: #23992f; 	}
.bcGreen4	{ border-color: #23992f; 		}
.cGreen4 	{ color: #23992f; 				}
.bgGreen5	{ background-color: #1d8027; 	}
.bcGreen5	{ border-color: #1d8027; 		}
.cGreen5 	{ color: #1d8027; 				}
.bgGreen6	{ background-color: #17661f; 	}
.bcGreen6	{ border-color: #17661f; 		}
.cGreen6 	{ color: #17661f; 				}
.bgGreen7	{ background-color: #124d17; 	}
.bcGreen7	{ border-color: #124d17; 		}
.cGreen7 	{ color: #124d17; 				}
.bgGreen8	{ background-color: #0c3310; 	}
.bcGreen8	{ border-color: #0c3310; 		}
.cGreen8 	{ color: #0c3310; 				}
.bgGreen9	{ background-color: #09260c; 	}
.bcGreen9	{ border-color: #09260c; 		}
.cGreen9 	{ color: #09260c; 				}
.bgGreen10	{ background-color: #061a08; 	}
.bcGreen10	{ border-color: #061a08; 		}
.cGreen10 	{ color: #061a08; 				}
.bgLime0	{ background-color: #03ff70; 	}
.bcLime0	{ border-color: #03ff70; 		}
.cLime0 	{ color: #03ff70; 				}
.bgLime1	{ background-color: #02e665; 	}
.bcLime1	{ border-color: #02e665; 		}
.cLime1 	{ color: #02e665; 				}
.bgLime2	{ background-color: #02cc5a; 	}
.bcLime2	{ border-color: #02cc5a; 		}
.cLime2 	{ color: #02cc5a; 				}
.bgLime3	{ background-color: #02b34e; 	}
.bcLime3	{ border-color: #02b34e; 		}
.cLime3 	{ color: #02b34e; 				}
.bgLime4	{ background-color: #029943; 	}
.bcLime4	{ border-color: #029943; 		}
.cLime4 	{ color: #029943; 				}
.bgLime5	{ background-color: #018038; 	}
.bcLime5	{ border-color: #018038; 		}
.cLime5 	{ color: #018038; 				}
.bgLime6	{ background-color: #01662d; 	}
.bcLime6	{ border-color: #01662d; 		}
.cLime6 	{ color: #01662d; 				}
.bgLime7	{ background-color: #014d22; 	}
.bcLime7	{ border-color: #014d22; 		}
.cLime7 	{ color: #014d22; 				}
.bgLime8	{ background-color: #013316; 	}
.bcLime8	{ border-color: #013316; 		}
.cLime8 	{ color: #013316; 				}
.bgLime9	{ background-color: #002611; 	}
.bcLime9	{ border-color: #002611; 		}
.cLime9 	{ color: #002611; 				}
.bgLime10	{ background-color: #001a0b; 	}
.bcLime10	{ border-color: #001a0b; 		}
.cLime10 	{ color: #001a0b; 				}
.bgYellow0	{ background-color: #ffd900; 	}
.bcYellow0	{ border-color: #ffd900; 		}
.cYellow0 	{ color: #ffd900; 				}
.bgYellow1	{ background-color: #e6c300; 	}
.bcYellow1	{ border-color: #e6c300; 		}
.cYellow1 	{ color: #e6c300; 				}
.bgYellow2	{ background-color: #ccad00; 	}
.bcYellow2	{ border-color: #ccad00; 		}
.cYellow2 	{ color: #ccad00; 				}
.bgYellow3	{ background-color: #b39800; 	}
.bcYellow3	{ border-color: #b39800; 		}
.cYellow3 	{ color: #b39800; 				}
.bgYellow4	{ background-color: #998200; 	}
.bcYellow4	{ border-color: #998200; 		}
.cYellow4 	{ color: #998200; 				}
.bgYellow5	{ background-color: #806c00; 	}
.bcYellow5	{ border-color: #806c00; 		}
.cYellow5 	{ color: #806c00; 				}
.bgYellow6	{ background-color: #665700; 	}
.bcYellow6	{ border-color: #665700; 		}
.cYellow6 	{ color: #665700; 				}
.bgYellow7	{ background-color: #4d4100; 	}
.bcYellow7	{ border-color: #4d4100; 		}
.cYellow7 	{ color: #4d4100; 				}
.bgYellow8	{ background-color: #332b00; 	}
.bcYellow8	{ border-color: #332b00; 		}
.cYellow8 	{ color: #332b00; 				}
.bgYellow9	{ background-color: #262100; 	}
.bcYellow9	{ border-color: #262100; 		}
.cYellow9 	{ color: #262100; 				}
.bgYellow10	{ background-color: #1a1600; 	}
.bcYellow10	{ border-color: #1a1600; 		}
.cYellow10 	{ color: #1a1600; 				}
.bgOrange0	{ background-color: #ff821c; 	}
.bcOrange0	{ border-color: #ff821c; 		}
.cOrange0 	{ color: #ff821c; 				}
.bgOrange1	{ background-color: #e67519; 	}
.bcOrange1	{ border-color: #e67519; 		}
.cOrange1 	{ color: #e67519; 				}
.bgOrange2	{ background-color: #cc6816; 	}
.bcOrange2	{ border-color: #cc6816; 		}
.cOrange2 	{ color: #cc6816; 				}
.bgOrange3	{ background-color: #b35b14; 	}
.bcOrange3	{ border-color: #b35b14; 		}
.cOrange3 	{ color: #b35b14; 				}
.bgOrange4	{ background-color: #994e11; 	}
.bcOrange4	{ border-color: #994e11; 		}
.cOrange4 	{ color: #994e11; 				}
.bgOrange5	{ background-color: #80410e; 	}
.bcOrange5	{ border-color: #80410e; 		}
.cOrange5 	{ color: #80410e; 				}
.bgOrange6	{ background-color: #66340b; 	}
.bcOrange6	{ border-color: #66340b; 		}
.cOrange6 	{ color: #66340b; 				}
.bgOrange7	{ background-color: #4d2708; 	}
.bcOrange7	{ border-color: #4d2708; 		}
.cOrange7 	{ color: #4d2708; 				}
.bgOrange8	{ background-color: #331a06; 	}
.bcOrange8	{ border-color: #331a06; 		}
.cOrange8 	{ color: #331a06; 				}
.bgOrange9	{ background-color: #261404; 	}
.bcOrange9	{ border-color: #261404; 		}
.cOrange9 	{ color: #261404; 				}
.bgOrange10	{ background-color: #1a0d03; 	}
.bcOrange10	{ border-color: #1a0d03; 		}
.cOrange10 	{ color: #1a0d03; 				}
.bgRed0	{ background-color: #ff4238; 	}
.bcRed0	{ border-color: #ff4238; 		}
.cRed0 	{ color: #ff4238; 				}
.bgRed1	{ background-color: #e63b32; 	}
.bcRed1	{ border-color: #e63b32; 		}
.cRed1 	{ color: #e63b32; 				}
.bgRed2	{ background-color: #cc352d; 	}
.bcRed2	{ border-color: #cc352d; 		}
.cRed2 	{ color: #cc352d; 				}
.bgRed3	{ background-color: #b32e27; 	}
.bcRed3	{ border-color: #b32e27; 		}
.cRed3 	{ color: #b32e27; 				}
.bgRed4	{ background-color: #992822; 	}
.bcRed4	{ border-color: #992822; 		}
.cRed4 	{ color: #992822; 				}
.bgRed5	{ background-color: #80211c; 	}
.bcRed5	{ border-color: #80211c; 		}
.cRed5 	{ color: #80211c; 				}
.bgRed6	{ background-color: #661a16; 	}
.bcRed6	{ border-color: #661a16; 		}
.cRed6 	{ color: #661a16; 				}
.bgRed7	{ background-color: #4d1411; 	}
.bcRed7	{ border-color: #4d1411; 		}
.cRed7 	{ color: #4d1411; 				}
.bgRed8	{ background-color: #330d0b; 	}
.bcRed8	{ border-color: #330d0b; 		}
.cRed8 	{ color: #330d0b; 				}
.bgRed9	{ background-color: #260a08; 	}
.bcRed9	{ border-color: #260a08; 		}
.cRed9 	{ color: #260a08; 				}
.bgRed10	{ background-color: #1a0706; 	}
.bcRed10	{ border-color: #1a0706; 		}
.cRed10 	{ color: #1a0706; 				}
.bgMaroon0	{ background-color: #ff2994; 	}
.bcMaroon0	{ border-color: #ff2994; 		}
.cMaroon0 	{ color: #ff2994; 				}
.bgMaroon1	{ background-color: #e62585; 	}
.bcMaroon1	{ border-color: #e62585; 		}
.cMaroon1 	{ color: #e62585; 				}
.bgMaroon2	{ background-color: #cc2176; 	}
.bcMaroon2	{ border-color: #cc2176; 		}
.cMaroon2 	{ color: #cc2176; 				}
.bgMaroon3	{ background-color: #b31d68; 	}
.bcMaroon3	{ border-color: #b31d68; 		}
.cMaroon3 	{ color: #b31d68; 				}
.bgMaroon4	{ background-color: #991859; 	}
.bcMaroon4	{ border-color: #991859; 		}
.cMaroon4 	{ color: #991859; 				}
.bgMaroon5	{ background-color: #80144a; 	}
.bcMaroon5	{ border-color: #80144a; 		}
.cMaroon5 	{ color: #80144a; 				}
.bgMaroon6	{ background-color: #66103b; 	}
.bcMaroon6	{ border-color: #66103b; 		}
.cMaroon6 	{ color: #66103b; 				}
.bgMaroon7	{ background-color: #4d0c2c; 	}
.bcMaroon7	{ border-color: #4d0c2c; 		}
.cMaroon7 	{ color: #4d0c2c; 				}
.bgMaroon8	{ background-color: #33081e; 	}
.bcMaroon8	{ border-color: #33081e; 		}
.cMaroon8 	{ color: #33081e; 				}
.bgMaroon9	{ background-color: #260616; 	}
.bcMaroon9	{ border-color: #260616; 		}
.cMaroon9 	{ color: #260616; 				}
.bgMaroon10	{ background-color: #1a040f; 	}
.bcMaroon10	{ border-color: #1a040f; 		}
.cMaroon10 	{ color: #1a040f; 				}
.bgFuchsia0	{ background-color: #ff14cc; 	}
.bcFuchsia0	{ border-color: #ff14cc; 		}
.cFuchsia0 	{ color: #ff14cc; 				}
.bgFuchsia1	{ background-color: #e612b8; 	}
.bcFuchsia1	{ border-color: #e612b8; 		}
.cFuchsia1 	{ color: #e612b8; 				}
.bgFuchsia2	{ background-color: #cc10a3; 	}
.bcFuchsia2	{ border-color: #cc10a3; 		}
.cFuchsia2 	{ color: #cc10a3; 				}
.bgFuchsia3	{ background-color: #b30e8f; 	}
.bcFuchsia3	{ border-color: #b30e8f; 		}
.cFuchsia3 	{ color: #b30e8f; 				}
.bgFuchsia4	{ background-color: #990c7b; 	}
.bcFuchsia4	{ border-color: #990c7b; 		}
.cFuchsia4 	{ color: #990c7b; 				}
.bgFuchsia5	{ background-color: #800a66; 	}
.bcFuchsia5	{ border-color: #800a66; 		}
.cFuchsia5 	{ color: #800a66; 				}
.bgFuchsia6	{ background-color: #660852; 	}
.bcFuchsia6	{ border-color: #660852; 		}
.cFuchsia6 	{ color: #660852; 				}
.bgFuchsia7	{ background-color: #4d063d; 	}
.bcFuchsia7	{ border-color: #4d063d; 		}
.cFuchsia7 	{ color: #4d063d; 				}
.bgFuchsia8	{ background-color: #330429; 	}
.bcFuchsia8	{ border-color: #330429; 		}
.cFuchsia8 	{ color: #330429; 				}
.bgFuchsia9	{ background-color: #26031f; 	}
.bcFuchsia9	{ border-color: #26031f; 		}
.cFuchsia9 	{ color: #26031f; 				}
.bgFuchsia10	{ background-color: #1a0214; 	}
.bcFuchsia10	{ border-color: #1a0214; 		}
.cFuchsia10 	{ color: #1a0214; 				}
.bgPurple0	{ background-color: #df12ff; 	}
.bcPurple0	{ border-color: #df12ff; 		}
.cPurple0 	{ color: #df12ff; 				}
.bgPurple1	{ background-color: #c910e6; 	}
.bcPurple1	{ border-color: #c910e6; 		}
.cPurple1 	{ color: #c910e6; 				}
.bgPurple2	{ background-color: #b30ecc; 	}
.bcPurple2	{ border-color: #b30ecc; 		}
.cPurple2 	{ color: #b30ecc; 				}
.bgPurple3	{ background-color: #9c0cb3; 	}
.bcPurple3	{ border-color: #9c0cb3; 		}
.cPurple3 	{ color: #9c0cb3; 				}
.bgPurple4	{ background-color: #860b99; 	}
.bcPurple4	{ border-color: #860b99; 		}
.cPurple4 	{ color: #860b99; 				}
.bgPurple5	{ background-color: #700980; 	}
.bcPurple5	{ border-color: #700980; 		}
.cPurple5 	{ color: #700980; 				}
.bgPurple6	{ background-color: #590766; 	}
.bcPurple6	{ border-color: #590766; 		}
.cPurple6 	{ color: #590766; 				}
.bgPurple7	{ background-color: #43054d; 	}
.bcPurple7	{ border-color: #43054d; 		}
.cPurple7 	{ color: #43054d; 				}
.bgPurple8	{ background-color: #2d0433; 	}
.bcPurple8	{ border-color: #2d0433; 		}
.cPurple8 	{ color: #2d0433; 				}
.bgPurple9	{ background-color: #220326; 	}
.bcPurple9	{ border-color: #220326; 		}
.cPurple9 	{ color: #220326; 				}
.bgPurple10	{ background-color: #16021a; 	}
.bcPurple10	{ border-color: #16021a; 		}
.cPurple10 	{ color: #16021a; 				}
.bgGray0	{ background-color: #ffffff; 	}
.bcGray0	{ border-color: #ffffff; 		}
.cGray0 	{ color: #ffffff; 				}
.bgGray1	{ background-color: #e6e6e6; 	}
.bcGray1	{ border-color: #e6e6e6; 		}
.cGray1 	{ color: #e6e6e6; 				}
.bgGray2	{ background-color: #cccccc; 	}
.bcGray2	{ border-color: #cccccc; 		}
.cGray2 	{ color: #cccccc; 				}
.bgGray3	{ background-color: #b3b3b3; 	}
.bcGray3	{ border-color: #b3b3b3; 		}
.cGray3 	{ color: #b3b3b3; 				}
.bgGray4	{ background-color: #999999; 	}
.bcGray4	{ border-color: #999999; 		}
.cGray4 	{ color: #999999; 				}
.bgGray5	{ background-color: #808080; 	}
.bcGray5	{ border-color: #808080; 		}
.cGray5 	{ color: #808080; 				}
.bgGray6	{ background-color: #666666; 	}
.bcGray6	{ border-color: #666666; 		}
.cGray6 	{ color: #666666; 				}
.bgGray7	{ background-color: #4d4d4d; 	}
.bcGray7	{ border-color: #4d4d4d; 		}
.cGray7 	{ color: #4d4d4d; 				}
.bgGray8	{ background-color: #333333; 	}
.bcGray8	{ border-color: #333333; 		}
.cGray8 	{ color: #333333; 				}
.bgGray9	{ background-color: #262626; 	}
.bcGray9	{ border-color: #262626; 		}
.cGray9 	{ color: #262626; 				}
.bgGray10	{ background-color: #1a1a1a; 	}
.bcGray10	{ border-color: #1a1a1a; 		}
.cGray10 	{ color: #1a1a1a; 				}

.bgBlack    { background-color: #000000;    }
.bgWhite    { background-color: #ffffff;    }
.bcBlack    { border-color: #000000;        }
.bcWhite    { border-color: #ffffff;        }
.cBlack     { color: #000000;               }
.cWhite     { color: #ffffff;               }

/* End Text Colors */




/* Absolute Row Blocks */

/* Size 50 */
.absBlock50-0-0{
    right: 0px;
    left: 0px;
}
.absBlock50-0-1{
    right: 50px;
    left: 0px;
}
.absBlock50-0-2{
    right: 100px;
    left: 0px;
}
.absBlock50-1-0{
    right: 0px;
    left: 50px;
}
.absBlock50-2-0{
    right: 0px;
    left: 100px;
}
.absBlock50-1-1{
    right: 50px;
    left: 50px;
}
.absBlock50-1-2{
    right: 100px;
    left: 50px;
}
.absBlock50-2-1{
    right: 50px;
    left: 100px;
}
.absBlock50-2-2{
    right: 100px;
    left: 100px;
}
.absBlock50-n-0{
    right: 0px;
}
.absBlock50-n-1{
    right: 50px;
}
.absBlock50-n-2{
    right: 100px;
}
.absBlock50-0-n{
    left: 0px;
}
.absBlock50-1-n{
    left: 50px;
}
.absBlock50-2-n{
    left: 100px;
}

/* Size 60 */
.absBlock60-0-0{
    right: 0px;
    left: 0px;
}
.absBlock60-0-1{
    right: 60px;
    left: 0px;
}
.absBlock60-0-2{
    right: 120px;
    left: 0px;
}
.absBlock60-1-0{
    right: 0px;
    left: 60px;
}
.absBlock60-2-0{
    right: 0px;
    left: 120px;
}
.absBlock60-1-1{
    right: 60px;
    left: 60px;
}
.absBlock60-1-2{
    right: 120px;
    left: 60px;
}
.absBlock60-2-1{
    right: 60px;
    left: 120px;
}
.absBlock60-2-2{
    right: 120px;
    left: 120px;
}
.absBlock60-n-0{
    right: 0px;
}
.absBlock60-n-1{
    right: 60px;
}
.absBlock60-n-2{
    right: 120px;
}
.absBlock60-0-n{
    left: 0px;
}
.absBlock60-1-n{
    left: 60px;
}
.absBlock60-2-n{
    left: 120px;
}

/* Size 70 */
.absBlock70-0-0{
    right: 0px;
    left: 0px;
}
.absBlock70-0-1{
    right: 70px;
    left: 0px;
}
.absBlock70-0-2{
    right: 140px;
    left: 0px;
}
.absBlock70-1-0{
    right: 0px;
    left: 70px;
}
.absBlock70-2-0{
    right: 0px;
    left: 140px;
}
.absBlock70-1-1{
    right: 70px;
    left: 70px;
}
.absBlock70-1-2{
    right: 140px;
    left: 70px;
}
.absBlock70-2-1{
    right: 70px;
    left: 140px;
}
.absBlock70-2-2{
    right: 140px;
    left: 140px;
}
.absBlock70-n-0{
    right: 0px;
}
.absBlock70-n-1{
    right: 70px;
}
.absBlock70-n-2{
    right: 140px;
}
.absBlock70-0-n{
    left: 0px;
}
.absBlock70-1-n{
    left: 70px;
}
.absBlock70-2-n{
    left: 140px;
}

/* Size 80 */
.absBlock80-0-0{
    right: 0px;
    left: 0px;
}
.absBlock80-0-1{
    right: 80px;
    left: 0px;
}
.absBlock80-0-2{
    right: 160px;
    left: 0px;
}
.absBlock80-1-0{
    right: 0px;
    left: 80px;
}
.absBlock80-2-0{
    right: 0px;
    left: 160px;
}
.absBlock80-1-1{
    right: 80px;
    left: 80px;
}
.absBlock80-1-2{
    right: 160px;
    left: 80px;
}
.absBlock80-2-1{
    right: 80px;
    left: 160px;
}
.absBlock80-2-2{
    right: 160px;
    left: 160px;
}
.absBlock80-n-0{
    right: 0px;
}
.absBlock80-n-1{
    right: 80px;
}
.absBlock80-n-2{
    right: 160px;
}
.absBlock80-0-n{
    left: 0px;
}
.absBlock80-1-n{
    left: 80px;
}
.absBlock80-2-n{
    left: 160px;
}

/* Size 90 */
.absBlock90-0-0{
    right: 0px;
    left: 0px;
}
.absBlock90-0-1{
    right: 90px;
    left: 0px;
}
.absBlock90-0-2{
    right: 270px;
    left: 0px;
}
.absBlock90-1-0{
    right: 0px;
    left: 90px;
}
.absBlock90-2-0{
    right: 0px;
    left: 270px;
}
.absBlock90-1-1{
    right: 90px;
    left: 90px;
}
.absBlock90-1-2{
    right: 270px;
    left: 90px;
}
.absBlock90-2-1{
    right: 90px;
    left: 270px;
}
.absBlock90-2-2{
    right: 270px;
    left: 270px;
}
.absBlock90-n-0{
    right: 0px;
}
.absBlock90-n-1{
    right: 90px;
}
.absBlock90-n-2{
    right: 270px;
}
.absBlock90-0-n{
    left: 0px;
}
.absBlock90-1-n{
    left: 90px;
}
.absBlock90-2-n{
    left: 270px;
}

/* Size 100 */
.absBlock100-0-0{
    right: 0px;
    left: 0px;
}
.absBlock100-0-1{
    right: 100px;
    left: 0px;
}
.absBlock100-0-2{
    right: 200px;
    left: 0px;
}
.absBlock100-1-0{
    right: 0px;
    left: 100px;
}
.absBlock100-2-0{
    right: 0px;
    left: 200px;
}
.absBlock100-1-1{
    right: 100px;
    left: 100px;
}
.absBlock100-1-2{
    right: 200px;
    left: 100px;
}
.absBlock100-2-1{
    right: 100px;
    left: 200px;
}
.absBlock100-2-2{
    right: 200px;
    left: 200px;
}
.absBlock100-n-0{
    right: 0px;
}
.absBlock100-n-1{
    right: 100px;
}
.absBlock100-n-2{
    right: 200px;
}
.absBlock100-0-n{
    left: 0px;
}
.absBlock100-1-n{
    left: 100px;
}
.absBlock100-2-n{
    left: 200px;
}

/* End Absolute Row Blocks */





























