/* Fixes */
body{
    font-family: 'Alef','HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    overflow: hidden;
}
div{

}
input {
    margin: 0;
    font: -webkit-small-control;
    color: #444444;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: block;
    text-align: start;
    border: 1px solid #999999;
    box-sizing: border-box;
    outline: 0 !important;
    padding: 0;
}
.app_container{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}
*:not(input):not(textarea) {
    -webkit-user-select: none; /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none; /* disable the IOS popup when long-press on a link */
}
ul{
    margin:0;
    padding: 0;
    text-align: center;
}
li{
    margin:0;
    padding: 0;
    text-align: center;
}
/* Overthrow CSS:
   Enable overflow: auto on elements with overthrow class when html element has overthrow class too */
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* End Fixes */

/* Layout*/

.sideMenu{
    position: absolute;
    z-index: 1000000;
}
.appMainView{
    position: absolute;
    z-index: 10000000;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}
.headerItem{
    position: absolute;
}
.content {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.footer {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.yScrollable{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.cDialog {
    position: absolute;
    z-index: 10000;
}
.cDialogContainer {
    position: absolute;
    z-index: 10000;
    /*box-shadow: rgba(0,0,0,0.4) 0 5px 20px;*/
}
.cDialogOverlay{
    position: absolute;
    z-index: -1;
    right: -100000px;
    top: -1000px;
    width: 1000000px;
    height: 100000px;
    opacity: 0;
}

.dropMenuRight {
    position: absolute;
    z-index: 10000;
    right: 0;
}
.dropMenuLeft {
    position: absolute;
    z-index: 10000;
    left: 0;
}
.dropMenuOverlay{
    position: absolute;
    z-index: -1;
    right: 0;
    top: -1000px;
    width: 100000px;
    height: 100000px;
    opacity: 0;
}
/* End Layout*/

/* Page Manager */
.currentTab{
    z-index: 10;
}
.lastTab{
    z-index: 5;
}
.tabContainer{

}
.tab{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tabsButtonsContainer{
    text-align: center;
    width: 100%;
}
/* End Page Manager */


/* End Animations */
/* Utils */
.borderBox{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.overflowHidden{
    overflow: hidden;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.pointer{
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.relative{
    position: relative;
}
.inlineBlock{
    display: inline-block;
}
.block{
    display: block;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
.textCenter{
    text-align: center;
}
.noPadding{
    padding: 0;
}
.noMargin{
    margin: 0;
}
.autoMargin{
    margin: auto;
}

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

/* End Utils */

/* Font */
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.white{
    color: #ffffff;
}
.whiteSmoke{
    color: #DDDDDD
}
.black{
    color: #000000;
}

/* End Font */


/* Rounded */
.Rounded0{
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.Rounded1{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.Rounded2{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.Rounded3{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.Rounded4{
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.Rounded5{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.Rounded6{
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.Rounded7{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.Rounded8{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.Rounded9{
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
.Rounded10{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.Rounded11{
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
}
.Rounded12{
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
.Rounded13{
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.Rounded14{
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
}
.Rounded15{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.Rounded16{
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.Rounded17{
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
}
.Rounded18{
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.Rounded19{
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
}
.Rounded20{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.circle{
    -webkit-border-radius: 100000px;
    -moz-border-radius: 100000px;
    border-radius: 100000px;
}
/* End Rounded */
/* Border Size */
.noBorder{
    border: none;
}
.border1p{
    border-width: 1px;
    border-style: solid;
}
.border2p{
    border-width: 2px;
    border-style: solid;
}
.border3p{
    border-width: 3px;
    border-style: solid;
}
.border4p{
    border-width: 4px;
    border-style: solid;
}
.border5p{
    border-width: 5px;
    border-style: solid;
}

.borderBottom1p{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.borderBottom2p{
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
.borderBottom3p{
    border-bottom-width: 3px;
    border-bottom-style: solid;
}
.borderBottom4p{
    border-bottom-width: 4px;
    border-bottom-style: solid;
}
.borderBottom5p{
    border-bottom-width: 5px;
    border-bottom-style: solid;
}


.borderTop1p{
    border-top-width: 1px;
    border-top-style: solid;
}
.borderTop2p{
    border-top-width: 2px;
    border-top-style: solid;
}
.borderTop3p{
    border-top-width: 3px;
    border-top-style: solid;
}
.borderTop4p{
    border-top-width: 4px;
    border-top-style: solid;
}
.borderTop5p{
    border-top-width: 5px;
    border-top-style: solid;
}

.borderLeft1p{
    border-left-width: 1px;
    border-left-style: solid;
}
.borderLeft2p{
    border-left-width: 2px;
    border-left-style: solid;
}
.borderLeft3p{
    border-left-width: 3px;
    border-left-style: solid;
}
.borderLeft4p{
    border-left-width: 4px;
    border-left-style: solid;
}
.borderLeft5p{
    border-left-width: 5px;
    border-left-style: solid;
}

.borderRight1p{
    border-right-width: 1px;
    border-right-style: solid;
}
.borderRight2p{
    border-right-width: 2px;
    border-right-style: solid;
}
.borderRight3p{
    border-right-width: 3px;
    border-right-style: solid;
}
.borderRight4p{
    border-right-width: 4px;
    border-right-style: solid;
}
.borderRight5p{
    border-right-width: 5px;
    border-right-style: solid;
}
/* End Border Size */

/* Icons */
.iconOnly{
    background-repeat: no-repeat !important;
    background-size: 75% !important;
    background-position: 50% 50% !important;
}
.sIconRight{
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 99% 50%;
    padding-right: 30px;
}
.mIconRight{
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 99% 50%;
    padding-right: 40px;
}
.lIconRight{
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 99% 50%;
    padding-right: 45px;
}
.xlIconRight{
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 99% 50%;
    padding-right: 55px;
}
.sIconLeft{
    background-repeat: no-repeat;
    background-size: 19px;
    background-position: 1% 50%;
    padding-left: 30px;
}
.mIconLeft{
    background-repeat: no-repeat;
    background-size: 27px;
    background-position: 1% 50%;
    padding-left: 40px;
}
.lIconLeft{
    background-repeat: no-repeat;
    background-size: 33px;
    background-position: 1% 50%;
    padding-left: 45px;
}
.xlIconLeft{
    background-repeat: no-repeat;
    background-size: 43px;
    background-position: 1% 50%;
    padding-left: 55px;
}
/* End Icons */


/* Backgrounds */
.bgGreen{
    background-color: #009b54;
}
.bgXXXLightGreen{
    background-color: #00ff8e;
}
.bgXXLightGreen{
    background-color: #00dd7d;
}
.bgXLightGreen{
    background-color: #00c270;
}
.bgLightGreen{
    background-color: #00ab60;
}
.bgDarkGreen{
    background-color: #008845;
}
.bgXDarkGreen{
    background-color: #007339;
}
.bgXXDarkGreen{
    background-color: #005c2e;
}
.bgXXXDarkGreen{
    background-color: #004623;
}
.bgCyan{
    background-color: #0fb081;
}
.bgXXXLightCyan{
    background-color: #12ffbb;
}
.bgXXLightCyan{
    background-color: #0fe9ab;
}
.bgXLightCyan{
    background-color: #0fdfa6;
}
.bgLightCyan{
    background-color: #0fce97;
}
.bgDarkCyan{
    background-color: #0f8967;
}
.bgXDarkCyan{
    background-color: #0d624a;
}
.bgXXDarkCyan{
    background-color: #0a4f3b;
}
.bgXXXDarkCyan{
    background-color: #073628;
}
.bgBlue{
    background-color: #2e54ae;
}
.bgXXXLightBlue{
    background-color: #4171ff;
}
.bgXXLightBlue{
    background-color: #3d67eb;
}
.bgXLightBlue{
    background-color: #355dd9;
}
.bgLightBlue{
    background-color: #335bc9;
}
.bgDarkBlue{
    background-color: #224081;
}
.bgXDarkBlue{
    background-color: #172e5c;
}
.bgXXDarkBlue{
    background-color: #112142;
}
.bgXXXDarkBlue{
    background-color: #0d172e;
}
.bgBrown{
    background-color: #b05a2b;
}
.bgXXXLightBrown{
    background-color: #ff883a;
}
.bgXXLightBrown{
    background-color: #ec8231;
}
.bgXLightBrown{
    background-color: #dd7c2f;
}
.bgLightBrown{
    background-color: #cf6e2f;
}
.bgDarkBrown{
    background-color: #8f4b22;
}
.bgXDarkBrown{
    background-color: #613019;
}
.bgXXDarkBrown{
    background-color: #4a2514;
}
.bgXXXDarkBrown{
    background-color: #381c0f;
}
.bgRed{
    background-color: #ae0014;
}
.bgXXXLightRed{
    background-color: #ff0019;
}
.bgXXLightRed{
    background-color: #eb0014;
}
.bgXLightRed{
    background-color: #dd0014;
}
.bgLightRed{
    background-color: #ca0014;
}
.bgDarkRed{
    background-color: #8e0011;
}
.bgXDarkRed{
    background-color: #68000f;
}
.bgXXDarkRed{
    background-color: #4f000c;
}
.bgXXXDarkRed{
    background-color: #38000a;
}
.bgPink{
    background-color: #b10059;
}
.bgXXXLightPink{
    background-color: #ff0087;
}
.bgXXLightPink{
    background-color: #ef0087;
}
.bgXLightPink{
    background-color: #df007a;
}
.bgLightPink{
    background-color: #d40070;
}
.bgDarkPink{
    background-color: #97004c;
}
.bgXDarkPink{
    background-color: #710038;
}
.bgXXDarkPink{
    background-color: #55002a;
}
.bgXXXDarkPink{
    background-color: #3f001f;
}
.bgPurple{
    background-color: #8400a2;
}
.bgXXXLightPurple{
    background-color: #d400ff;
}
.bgXXLightPurple{
    background-color: #be00e4;
}
.bgXLightPurple{
    background-color: #ab00cf;
}
.bgLightPurple{
    background-color: #9c00bf;
}
.bgDarkPurple{
    background-color: #630079;
}
.bgXDarkPurple{
    background-color: #460058;
}
.bgXXDarkPurple{
    background-color: #320041;
}
.bgXXXDarkPurple{
    background-color: #24002f;
}
.bgXXXLightGray{
    background-color: #bababa;
}
.bgXXLightGray{
    background-color: #a2a2a2;
}
.bgXLightGray{
    background-color: #767676;
}
.bgLightGray{
    background-color: #636363;
}
.bgGray{
    background-color: #5e5e5e;
}
.bgDarkGray{
    background-color: #505050;
}
.bgXDarkGray{
    background-color: #414141;
}
.bgXXDarkGray{
    background-color: #232323;
}
.bgXXXDarkGray{
    background-color: #181818;
}
.bgXXXLightWhiteSmoke{
    background-color: #fafafa;
}
.bgXXLightWhiteSmoke{
    background-color: #f4f4f4;
}
.bgXLightWhiteSmoke{
    background-color: #efefef;
}
.bgLightWhiteSmoke{
    background-color: #ebebeb;
}
.bgWhiteSmoke{
    background-color: #e6e6e6;
}
.bgDarkWhiteSmoke{
    background-color: #dcdcdc;
}
.bgXDarkWhiteSmoke{
    background-color: #d7d7d7;
}
.bgXXDarkWhiteSmoke{
    background-color: #d3d3d3;
}
.bgXXXDarkWhiteSmoke{
    background-color: #c6c6c6;
}
.bgBlack{
    background-color: #000000;
}
.bgWhite{
    background-color: #ffffff;
}

/* End Backgrounds */

/* Border Colors */
.bcGreen{
    border-color: #009b54;
}
.bcXXXLightGreen{
    border-color: #00ff8e;
}
.bcXXLightGreen{
    border-color: #00dd7d;
}
.bcXLightGreen{
    border-color: #00c270;
}
.bcLightGreen{
    border-color: #00ab60;
}
.bcDarkGreen{
    border-color: #008845;
}
.bcXDarkGreen{
    border-color: #007339;
}
.bcXXDarkGreen{
    border-color: #005c2e;
}
.bcXXXDarkGreen{
    border-color: #004623;
}
.bcCyan{
    border-color: #0fb081;
}
.bcXXXLightCyan{
    border-color: #12ffbb;
}
.bcXXLightCyan{
    border-color: #0fe9ab;
}
.bcXLightCyan{
    border-color: #0fdfa6;
}
.bcLightCyan{
    border-color: #0fce97;
}
.bcDarkCyan{
    border-color: #0f8967;
}
.bcXDarkCyan{
    border-color: #0d624a;
}
.bcXXDarkCyan{
    border-color: #0a4f3b;
}
.bcXXXDarkCyan{
    border-color: #073628;
}
.bcBlue{
    border-color: #2e54ae;
}
.bcXXXLightBlue{
    border-color: #4171ff;
}
.bcXXLightBlue{
    border-color: #3d67eb;
}
.bcXLightBlue{
    border-color: #355dd9;
}
.bcLightBlue{
    border-color: #335bc9;
}
.bcDarkBlue{
    border-color: #224081;
}
.bcXDarkBlue{
    border-color: #172e5c;
}
.bcXXDarkBlue{
    border-color: #112142;
}
.bcXXXDarkBlue{
    border-color: #0d172e;
}
.bcBrown{
    border-color: #b05a2b;
}
.bcXXXLightBrown{
    border-color: #ff883a;
}
.bcXXLightBrown{
    border-color: #ec8231;
}
.bcXLightBrown{
    border-color: #dd7c2f;
}
.bcLightBrown{
    border-color: #cf6e2f;
}
.bcDarkBrown{
    border-color: #8f4b22;
}
.bcXDarkBrown{
    border-color: #613019;
}
.bcXXDarkBrown{
    border-color: #4a2514;
}
.bcXXXDarkBrown{
    border-color: #381c0f;
}
.bcRed{
    border-color: #ae0014;
}
.bcXXXLightRed{
    border-color: #ff0019;
}
.bcXXLightRed{
    border-color: #eb0014;
}
.bcXLightRed{
    border-color: #dd0014;
}
.bcLightRed{
    border-color: #ca0014;
}
.bcDarkRed{
    border-color: #8e0011;
}
.bcXDarkRed{
    border-color: #68000f;
}
.bcXXDarkRed{
    border-color: #4f000c;
}
.bcXXXDarkRed{
    border-color: #38000a;
}
.bcPink{
    border-color: #b10059;
}
.bcXXXLightPink{
    border-color: #ff0087;
}
.bcXXLightPink{
    border-color: #ef0087;
}
.bcXLightPink{
    border-color: #df007a;
}
.bcLightPink{
    border-color: #d40070;
}
.bcDarkPink{
    border-color: #97004c;
}
.bcXDarkPink{
    border-color: #710038;
}
.bcXXDarkPink{
    border-color: #55002a;
}
.bcXXXDarkPink{
    border-color: #3f001f;
}
.bcPurple{
    border-color: #8400a2;
}
.bcXXXLightPurple{
    border-color: #d400ff;
}
.bcXXLightPurple{
    border-color: #be00e4;
}
.bcXLightPurple{
    border-color: #ab00cf;
}
.bcLightPurple{
    border-color: #9c00bf;
}
.bcDarkPurple{
    border-color: #630079;
}
.bcXDarkPurple{
    border-color: #460058;
}
.bcXXDarkPurple{
    border-color: #320041;
}
.bcXXXDarkPurple{
    border-color: #24002f;
}
.bcXXXLightGray{
    border-color: #bababa;
}
.bcXXLightGray{
    border-color: #a2a2a2;
}
.bcXLightGray{
    border-color: #767676;
}
.bcLightGray{
    border-color: #636363;
}
.bcGray{
    border-color: #5e5e5e;
}
.bcDarkGray{
    border-color: #505050;
}
.bcXDarkGray{
    border-color: #414141;
}
.bcXXDarkGray{
    border-color: #232323;
}
.bcXXXDarkGray{
    border-color: #181818;
}
.bcXXXLightWhiteSmoke{
    border-color: #fafafa;
}
.bcXXLightWhiteSmoke{
    border-color: #f4f4f4;
}
.bcXLightWhiteSmoke{
    border-color: #efefef;
}
.bcLightWhiteSmoke{
    border-color: #ebebeb;
}
.bcWhiteSmoke{
    border-color: #e6e6e6;
}
.bcDarkWhiteSmoke{
    border-color: #dcdcdc;
}
.bcXDarkWhiteSmoke{
    border-color: #d7d7d7;
}
.bcXXDarkWhiteSmoke{
    border-color: #d3d3d3;
}
.bcXXXDarkWhiteSmoke{
    border-color: #c6c6c6;
}
.bcBlack{
    border-color: #000000;
}
.bcWhite{
    border-color: #ffffff;
}


/* End Border Colors */

/* Text Colors */
.cGreen{
    color: #009b54;
}
.cXXXLightGreen{
    color: #00ff8e;
}
.cXXLightGreen{
    color: #00dd7d;
}
.cXLightGreen{
    color: #00c270;
}
.cLightGreen{
    color: #00ab60;
}
.cDarkGreen{
    color: #008845;
}
.cXDarkGreen{
    color: #007339;
}
.cXXDarkGreen{
    color: #005c2e;
}
.cXXXDarkGreen{
    color: #004623;
}
.cCyan{
    color: #0fb081;
}
.cXXXLightCyan{
    color: #12ffbb;
}
.cXXLightCyan{
    color: #0fe9ab;
}
.cXLightCyan{
    color: #0fdfa6;
}
.cLightCyan{
    color: #0fce97;
}
.cDarkCyan{
    color: #0f8967;
}
.cXDarkCyan{
    color: #0d624a;
}
.cXXDarkCyan{
    color: #0a4f3b;
}
.cXXXDarkCyan{
    color: #073628;
}
.cBlue{
    color: #2e54ae;
}
.cXXXLightBlue{
    color: #4171ff;
}
.cXXLightBlue{
    color: #3d67eb;
}
.cXLightBlue{
    color: #355dd9;
}
.cLightBlue{
    color: #335bc9;
}
.cDarkBlue{
    color: #224081;
}
.cXDarkBlue{
    color: #172e5c;
}
.cXXDarkBlue{
    color: #112142;
}
.cXXXDarkBlue{
    color: #0d172e;
}
.cBrown{
    color: #b05a2b;
}
.cXXXLightBrown{
    color: #ff883a;
}
.cXXLightBrown{
    color: #ec8231;
}
.cXLightBrown{
    color: #dd7c2f;
}
.cLightBrown{
    color: #cf6e2f;
}
.cDarkBrown{
    color: #8f4b22;
}
.cXDarkBrown{
    color: #613019;
}
.cXXDarkBrown{
    color: #4a2514;
}
.cXXXDarkBrown{
    color: #381c0f;
}
.cRed{
    color: #ae0014;
}
.cXXXLightRed{
    color: #ff0019;
}
.cXXLightRed{
    color: #eb0014;
}
.cXLightRed{
    color: #dd0014;
}
.cLightRed{
    color: #ca0014;
}
.cDarkRed{
    color: #8e0011;
}
.cXDarkRed{
    color: #68000f;
}
.cXXDarkRed{
    color: #4f000c;
}
.cXXXDarkRed{
    color: #38000a;
}
.cPink{
    color: #b10059;
}
.cXXXLightPink{
    color: #ff0087;
}
.cXXLightPink{
    color: #ef0087;
}
.cXLightPink{
    color: #df007a;
}
.cLightPink{
    color: #d40070;
}
.cDarkPink{
    color: #97004c;
}
.cXDarkPink{
    color: #710038;
}
.cXXDarkPink{
    color: #55002a;
}
.cXXXDarkPink{
    color: #3f001f;
}
.cPurple{
    color: #8400a2;
}
.cXXXLightPurple{
    color: #d400ff;
}
.cXXLightPurple{
    color: #be00e4;
}
.cXLightPurple{
    color: #ab00cf;
}
.cLightPurple{
    color: #9c00bf;
}
.cDarkPurple{
    color: #630079;
}
.cXDarkPurple{
    color: #460058;
}
.cXXDarkPurple{
    color: #320041;
}
.cXXXDarkPurple{
    color: #24002f;
}
.cXXXLightGray{
    color: #bababa;
}
.cXXLightGray{
    color: #a2a2a2;
}
.cXLightGray{
    color: #767676;
}
.cLightGray{
    color: #636363;
}
.cGray{
    color: #5e5e5e;
}
.cDarkGray{
    color: #505050;
}
.cXDarkGray{
    color: #414141;
}
.cXXDarkGray{
    color: #232323;
}
.cXXXDarkGray{
    color: #181818;
}
.cXXXLightWhiteSmoke{
    color: #fafafa;
}
.cXXLightWhiteSmoke{
    color: #f4f4f4;
}
.cXLightWhiteSmoke{
    color: #efefef;
}
.cLightWhiteSmoke{
    color: #ebebeb;
}
.cWhiteSmoke{
    color: #e6e6e6;
}
.cDarkWhiteSmoke{
    color: #dcdcdc;
}
.cXDarkWhiteSmoke{
    color: #d7d7d7;
}
.cXXDarkWhiteSmoke{
    color: #d3d3d3;
}
.cXXXDarkWhiteSmoke{
    color: #c6c6c6;
}
.cBlack{
    color: #000000;
}
.cWhite{
    color: #ffffff;
}

/* End Text Colors */




/* Absolute Row Blocks */

/* Size 50 */
.absBlock50-0-0{
    right: 0px;
    left: 0px;
}
.absBlock50-0-1{
    right: 50px;
    left: 0px;
}
.absBlock50-0-2{
    right: 100px;
    left: 0px;
}
.absBlock50-1-0{
    right: 0px;
    left: 50px;
}
.absBlock50-2-0{
    right: 0px;
    left: 100px;
}
.absBlock50-1-1{
    right: 50px;
    left: 50px;
}
.absBlock50-1-2{
    right: 100px;
    left: 50px;
}
.absBlock50-2-1{
    right: 50px;
    left: 100px;
}
.absBlock50-2-2{
    right: 100px;
    left: 100px;
}
.absBlock50-n-0{
    right: 0px;
}
.absBlock50-n-1{
    right: 50px;
}
.absBlock50-n-2{
    right: 100px;
}
.absBlock50-0-n{
    left: 0px;
}
.absBlock50-1-n{
    left: 50px;
}
.absBlock50-2-n{
    left: 100px;
}

/* Size 60 */
.absBlock60-0-0{
    right: 0px;
    left: 0px;
}
.absBlock60-0-1{
    right: 60px;
    left: 0px;
}
.absBlock60-0-2{
    right: 120px;
    left: 0px;
}
.absBlock60-1-0{
    right: 0px;
    left: 60px;
}
.absBlock60-2-0{
    right: 0px;
    left: 120px;
}
.absBlock60-1-1{
    right: 60px;
    left: 60px;
}
.absBlock60-1-2{
    right: 120px;
    left: 60px;
}
.absBlock60-2-1{
    right: 60px;
    left: 120px;
}
.absBlock60-2-2{
    right: 120px;
    left: 120px;
}
.absBlock60-n-0{
    right: 0px;
}
.absBlock60-n-1{
    right: 60px;
}
.absBlock60-n-2{
    right: 120px;
}
.absBlock60-0-n{
    left: 0px;
}
.absBlock60-1-n{
    left: 60px;
}
.absBlock60-2-n{
    left: 120px;
}

/* Size 70 */
.absBlock70-0-0{
    right: 0px;
    left: 0px;
}
.absBlock70-0-1{
    right: 70px;
    left: 0px;
}
.absBlock70-0-2{
    right: 140px;
    left: 0px;
}
.absBlock70-1-0{
    right: 0px;
    left: 70px;
}
.absBlock70-2-0{
    right: 0px;
    left: 140px;
}
.absBlock70-1-1{
    right: 70px;
    left: 70px;
}
.absBlock70-1-2{
    right: 140px;
    left: 70px;
}
.absBlock70-2-1{
    right: 70px;
    left: 140px;
}
.absBlock70-2-2{
    right: 140px;
    left: 140px;
}
.absBlock70-n-0{
    right: 0px;
}
.absBlock70-n-1{
    right: 70px;
}
.absBlock70-n-2{
    right: 140px;
}
.absBlock70-0-n{
    left: 0px;
}
.absBlock70-1-n{
    left: 70px;
}
.absBlock70-2-n{
    left: 140px;
}

/* Size 80 */
.absBlock80-0-0{
    right: 0px;
    left: 0px;
}
.absBlock80-0-1{
    right: 80px;
    left: 0px;
}
.absBlock80-0-2{
    right: 160px;
    left: 0px;
}
.absBlock80-1-0{
    right: 0px;
    left: 80px;
}
.absBlock80-2-0{
    right: 0px;
    left: 160px;
}
.absBlock80-1-1{
    right: 80px;
    left: 80px;
}
.absBlock80-1-2{
    right: 160px;
    left: 80px;
}
.absBlock80-2-1{
    right: 80px;
    left: 160px;
}
.absBlock80-2-2{
    right: 160px;
    left: 160px;
}
.absBlock80-n-0{
    right: 0px;
}
.absBlock80-n-1{
    right: 80px;
}
.absBlock80-n-2{
    right: 160px;
}
.absBlock80-0-n{
    left: 0px;
}
.absBlock80-1-n{
    left: 80px;
}
.absBlock80-2-n{
    left: 160px;
}

/* Size 90 */
.absBlock90-0-0{
    right: 0px;
    left: 0px;
}
.absBlock90-0-1{
    right: 90px;
    left: 0px;
}
.absBlock90-0-2{
    right: 270px;
    left: 0px;
}
.absBlock90-1-0{
    right: 0px;
    left: 90px;
}
.absBlock90-2-0{
    right: 0px;
    left: 270px;
}
.absBlock90-1-1{
    right: 90px;
    left: 90px;
}
.absBlock90-1-2{
    right: 270px;
    left: 90px;
}
.absBlock90-2-1{
    right: 90px;
    left: 270px;
}
.absBlock90-2-2{
    right: 270px;
    left: 270px;
}
.absBlock90-n-0{
    right: 0px;
}
.absBlock90-n-1{
    right: 90px;
}
.absBlock90-n-2{
    right: 270px;
}
.absBlock90-0-n{
    left: 0px;
}
.absBlock90-1-n{
    left: 90px;
}
.absBlock90-2-n{
    left: 270px;
}

/* Size 100 */
.absBlock100-0-0{
    right: 0px;
    left: 0px;
}
.absBlock100-0-1{
    right: 100px;
    left: 0px;
}
.absBlock100-0-2{
    right: 200px;
    left: 0px;
}
.absBlock100-1-0{
    right: 0px;
    left: 100px;
}
.absBlock100-2-0{
    right: 0px;
    left: 200px;
}
.absBlock100-1-1{
    right: 100px;
    left: 100px;
}
.absBlock100-1-2{
    right: 200px;
    left: 100px;
}
.absBlock100-2-1{
    right: 100px;
    left: 200px;
}
.absBlock100-2-2{
    right: 200px;
    left: 200px;
}
.absBlock100-n-0{
    right: 0px;
}
.absBlock100-n-1{
    right: 100px;
}
.absBlock100-n-2{
    right: 200px;
}
.absBlock100-0-n{
    left: 0px;
}
.absBlock100-1-n{
    left: 100px;
}
.absBlock100-2-n{
    left: 200px;
}

/* End Absolute Row Blocks */





























